[2020-10-07 15:31] pawangeek opened #1 "Autotyper"
## Script Title - Creating Autotyper
**what will change** - It types for me

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

- [x] Adding New Code

### Programming Language
- [x] Python

Happy Coding,

[2020-10-07 15:33] pawangeek opened #2 "Adding auto searcher"
## Script Title - Autosearcher

**what will change** - We can search the whole thing just by 2 clicks around the text

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programmin

[2020-10-07 16:07] #1 closed

[2020-10-07 16:08] pawangeek opened #4 "Add screenshot taker"
## Script Title - Screenshoter

**what will change** - It able to take screenshot just by two clicks of mouse

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Langua

[2020-10-07 16:37] GaganSingh5 commented on #4
Hi dev, i want to work on this

[2020-10-07 16:44] pawangeek commented on #4
Sure, It's like we can click on two points over the screen and it will capture a screenshot of that. For reference, you can see go though [link](https://github.com/python-geeks/Automation-scripts/blob/main/autotyper/autotyper.py). Further just try and come up with an initial solution we will try to complete it :)

[2020-10-07 16:47] pawangeek opened #5 "HTMLtoPDF maker"
## Script Title - Convert html to pdf

**what will change** - Adding script of it

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

Happy Codi

[2020-10-07 16:48] pawangeek opened #6 "Sudoku solver"
## Script Title - Sudoku Solver by recursion/backtrack

**what will change** - Adding script for solving sudoku

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Lang

[2020-10-07 16:49] pawangeek opened #7 "URL shortener"
## Script Title - Creating URL shortener by changing base and using map/dict

**what will change** - Adding URL shortener script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

###

[2020-10-07 16:55] suubh opened #8 "Adding yotube sub automation script"
## Script Title -

**what will change** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

[2020-10-07 16:56] hpnightowl commented on #7
can i take this issue?

[2020-10-07 16:57] pawangeek commented on #7
Sure go ahead

[2020-10-07 17:02] hpnightowl commented on #7
in this task i have to make a custom url shortener or i can use tinyurl api @pawangeek

[2020-10-07 17:04] pawangeek commented on #7
You can make it by any means. Just document it with README and requirements

[2020-10-07 17:05] hpnightowl commented on #7
ok :)

[2020-10-07 17:06] pawangeek opened #10 "Word-cloud Generator"
## Script Title - Create a word cloud. Good for NLP visualizations

**what will change** - Adding a script of the word cloud

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Pro

[2020-10-07 17:09] pawangeek opened #11 "Twitter Bot"
## Script Title - Add a bot that tweets for me. One can use "tweepy" for that

**what will change** - Adding a script for creating a twitter bot

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Addi

[2020-10-07 17:40] ashkankamyab commented on #11
Hi,
I would like to work on such tasks. would you mind if I work on this ?

I am also considering what would be your preference end point? would you like a `cli-interface` which tweets?
@pawangeek

[2020-10-07 17:42] parth93QA commented on #5
can u assign me this ?

[2020-10-07 17:42] pawangeek commented on #5
Sure :)

[2020-10-07 17:48] pawangeek commented on #11
Yeah, sure go ahead. And moreover, you can use any o-auth library and endpoints are like /update_status, /user_timeline, and /login. You can add more beyond that too :)

[2020-10-07 17:55] pawangeek opened #12 "Encrypt PDF"
## Script Title - Encrypt pdf by using any hash algorithm

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Py

[2020-10-07 17:58] pawangeek opened #13 "Auto complete"
## Script Title - Create auto-completion using either bigram/n-grams or trie data-structure

**what will change** - Adding auto-completion script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Add

[2020-10-07 20:37] jp2373 commented on #12
I would like to work on this issue, can you please assign it to me?

[2020-10-07 20:40] jp2373 commented on #6
I would love to work on this, can you please assign it to me?

[2020-10-08 00:25] zmunro commented on #6
@jp2373 just fork the repo and start working on it :)

[2020-10-08 01:12] pawangeek commented on #12
Sure, go ahead

[2020-10-08 04:48] pawangeek opened #17 "Pdf to Audiobook Convertor"
## Script Title - Pdf to Audiobook Convertor

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

Happy Cod

[2020-10-08 05:02] #17 closed

[2020-10-08 05:04] #4 closed

[2020-10-08 05:07] pawangeek opened #18 "Duplicate File checker"
## Script Title - Able to find duplicate files in a folder

**what will change** - Adding duplicate finder script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming La

[2020-10-08 05:08] pawangeek opened #19 "Files in proper folder"
## Script Title - Able to add files automatically in the desired folders

**what will change** - Adding Script of file arranger

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x]

[2020-10-08 05:54] varuntumbe commented on #18
I can do this. assign it to me
Thanks in advance

[2020-10-08 05:56] pawangeek commented on #18
Yeah sure :)

[2020-10-08 05:57] #8 closed

[2020-10-08 06:00] pawangeek opened #20 "Video to gif convertor"
## Script Title - Convert video with extension(.mkv, .mp3 etc.) to .gif

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Langua

[2020-10-08 06:04] pawangeek opened #21 "Converting sound/voice to text"
## Script Title - Able to convert sound to its text. Can be done using "librosa" library

**what will change** - Adding script of voice_to_text convertor

## Instructions

- Create a new folder for your script and the file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant

[2020-10-08 06:06] pawangeek opened #22 "Price alert"
## Script Title - Alert price drop of a product from Amazon/Flipkart or any similar ecom site

**what will change** - Adding price alerter

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New

[2020-10-08 06:07] pawangeek opened #23 "Email sender"
## Script Title - Send an email on one's behalf

**what will change** - Adding email-sender script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] P

[2020-10-08 06:33] #5 closed

[2020-10-08 07:44] abhinand5 commented on #13
Can you assign this to me?

[2020-10-08 07:47] pawangeek commented on #13
sure, go ahead

[2020-10-08 07:50] abhinand5 commented on #10
Can I also do this?

[2020-10-08 07:51] pawangeek opened #25 "Autoclicker"
## Script Title - We can use that for auto-clicking

**what will change** -  Adding auto clicker

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Pyt

[2020-10-08 07:51] pawangeek commented on #10
Sure but make a PR of first, then I will assign this to you :)

[2020-10-08 08:34] Sacrezar commented on #25
Hi, can you assign this to me?

[2020-10-08 08:37] pawangeek commented on #25
Sure, go ahead :)

[2020-10-08 08:54] pawangeek opened #26 "Weather checker"
## Script Title -  Able to check weather by any related API

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x]

[2020-10-08 08:56] pawangeek opened #27 "competitive calendar"
## Script Title - Get all nearby competitive competition from sites like cf/atcoder/cc

**what will change** - Adding a calendar script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Co

[2020-10-08 08:58] pawangeek opened #28 "Wallpaper changer"
## Script Title - Able to change my desktop wallpaper

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

[2020-10-08 09:02] pawangeek opened #29 "QR code scanner"
## Script Title - Able to scan QR code

**what will change** - Adding script of QR code

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

Happ

[2020-10-08 09:06] rkgeekoftheweek commented on #29
@pawangeek , Please assign this to me.

[2020-10-08 09:11] niccolomarcon commented on #26
Can i take this?

[2020-10-08 09:12] pawangeek commented on #29
Sure go ahead :)

[2020-10-08 09:12] pawangeek commented on #26
Sure go ahead :)

[2020-10-08 09:20] pawangeek opened #30 "Detect language and translator"
## Script Title - We can use google trans or similar library for achieving results

**what will change** - Adding script for language detector and translator

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant

[2020-10-08 09:22] pawangeek opened #31 "Email validator"
## Script Title - Simply do it by regex library

**what will change** - Adding email validator

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Pytho

[2020-10-08 09:32] javmarina commented on #31
Can you assign it to me?

[2020-10-08 09:34] pawangeek commented on #31
Sure, go ahead

[2020-10-08 09:34] javmarina commented on #20
Can you assign it to me?

[2020-10-08 09:41] pawangeek commented on #20
Sure, I will but create a pull request of previous issue first :)

[2020-10-08 09:43] ashkankamyab commented on #23
Hi,
I would like to work on this, would you mind assign it to me?

[2020-10-08 09:44] ashkankamyab commented on #22
Hi
I have already worked on the same thing(just amazon). I can share my solution here. Would it be fine ?

[2020-10-08 09:47] janethavi commented on #30
Hi, can you please assign this issue for me?

[2020-10-08 10:10] pawangeek commented on #30
Sure, go ahead

[2020-10-08 10:12] pawangeek commented on #22
Okay fine

[2020-10-08 10:13] pawangeek commented on #23
Sure I will, but you send PRs to previously assigned issues :)

[2020-10-08 10:14] sculley commented on #23
Hello,

I would like to work on this if possible?

[2020-10-08 10:15] pawangeek commented on #23
Okay meanwhile I assign this to you @sculley

[2020-10-08 10:17] ashkankamyab commented on #23
Sure. No Problem.

[2020-10-08 10:20] pawangeek opened #33 "Zipfile extractor"
## Script Title -  Task is to create a zip file extractor in using Python
(Simply able to achieve that by "zipfile" pypi package

**what will change** - Adding script of zipfile extractor

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete

[2020-10-08 10:22] pawangeek opened #34 "Bulk Rename"
## Script Title - Script should able to change the name of files in bulk

**what will change** - Adding bulk renamer

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming

[2020-10-08 10:26] pawangeek opened #35 "Todo App"
## Script Title - Panda should able to keep a record of lazy todo works :)
You can create that if you know flask/Django or by GUI like Tkinter

**what will change** - Adding todo app

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete opti

[2020-10-08 10:29] pawangeek opened #36 "Captcha Solver"
## Script Title - Should able to solve the captcha. can be done by library like "pytesseract" for that

**what will change** - Adding captcha solver

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x]

[2020-10-08 10:34] pawangeek opened #37 "Music player"
## Script Title - Music Player ( Can be done by library like pygame or similar)

**what will change** -  Adding simple music player

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
-

[2020-10-08 10:40] pawangeek opened #38 "Spell Corrector"
## Script Title - Should able to correct spelling ( Can be done by textblob library)

**what will change** - Adding spell corrector module

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New

[2020-10-08 11:02] aayuv17 commented on #35
Hey, can you please assign this issue to me?

[2020-10-08 11:03] pawangeek commented on #35
Sure :)

[2020-10-08 11:18] #25 closed

[2020-10-08 11:25] Tazminia commented on #33
Hello, willing to work on this if possible

[2020-10-08 11:30] Sacrezar commented on #34
Can I do this one? Is it just a bulk renamer for all files in a folder?

[2020-10-08 11:31] #7 closed

[2020-10-08 11:31] pawangeek commented on #33
Sure go ahead :)

[2020-10-08 11:33] pawangeek commented on #34
Yes exactly, Just rename them like 1,2,3.... or a,b,c or any other pattern you want. Okay I am assigning this to you

[2020-10-08 11:34] Kirkkm commented on #19
Hello, I have done something similar like this for a custom logger I created for my Discord/Twitch bots. I would like to give this a try. Thanks!

[2020-10-08 11:35] #30 closed

[2020-10-08 11:35] gkydev commented on #36
Hi can you assign this to me

[2020-10-08 11:36] gkydev commented on #37
Hi can you assign this to me

[2020-10-08 11:36] pawangeek commented on #19
Okay go ahead, I will review your PR

[2020-10-08 11:37] pawangeek commented on #36
Yeah sure :)

[2020-10-08 11:38] pawangeek commented on #37
Hey, can you please make a PR to your previous issue?

[2020-10-08 12:01] pawangeek opened #43 "Currency Convertor"
## Script Title - Script is able to convert currencies

**what will change** - Adding currency convertor script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Lang

[2020-10-08 12:03] pawangeek opened #44 "Password strength checker"
## Script Title - Able to detect one' password is strong or not

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x

[2020-10-08 12:14] falguni-k commented on #44
Hey I  would like to work on this issue. Can you clarify what characteristics you would consider in a strong password? Or should I set them myself?

[2020-10-08 12:20] pawangeek commented on #44
Sure go ahead, and it should be consist of lowercase, uppercase, special character, digit and have >= 8 chars is sufficient

[2020-10-08 12:28] maheshschand commented on #43
Hello, Can you please assign this issue to me?

[2020-10-08 12:44] jayaganeshkumar commented on #33
@pawangeek  I have completed the code required for this. Can you assign it to me?

[2020-10-08 12:47] jayaganeshkumar commented on #43
@pawangeek  I have this code ready. Can you assign me this?

[2020-10-08 12:49] jayaganeshkumar commented on #6
@pawangeek  I have this code ready. Can you assign it to me?

[2020-10-08 13:16] Sacrezar commented on #28
Willing to do it, but what do you want exactly ? A script with an hardcoded path to your images that choose a random pic in there when launched?

[2020-10-08 13:28] javmarina commented on #31
Can be closed. Thanks!

[2020-10-08 13:37] #29 closed

[2020-10-08 13:39] #26 closed

[2020-10-08 13:41] #20 closed

[2020-10-08 13:44] pawangeek commented on #43
Okay, I will assign this to @maheshschand.

[2020-10-08 13:45] pawangeek commented on #6
Okay, I am assigning this to you @jayaganeshkumar

[2020-10-08 13:51] Saumya-Mishra9129 commented on #21
@pawangeek Can you assign this to me?

[2020-10-08 13:57] pawangeek commented on #21
Okay go ahead :)

[2020-10-08 14:02] Anustup900 commented on #21
Hey I want to contribute in this i also proceeded with the code can you please add me up

[2020-10-08 14:05] pawangeek commented on #21
Hello @Anustup900, this issue is assigned to @Saumya-Mishra9129. Can you do the reverse of that? I mean from text to sound ??

[2020-10-08 14:06] Anustup900 commented on #21
Yes I can ,please assign it to me , am on it

[2020-10-08 14:14] #34 closed

[2020-10-08 14:16] #36 closed

[2020-10-08 14:18] pawangeek opened #50 "Converting text to sound"
## Script Title - Script to convert text to sound

**what will change** - Adding script for that

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Pyt

[2020-10-08 14:19] pawangeek commented on #21
Sure @Anustup900  Just comment on this #50 and I will assign this to you

[2020-10-08 14:20] Anustup900 commented on #50
Hello please assign to me

[2020-10-08 14:20] Anustup900 commented on #21
Done

[2020-10-08 14:21] pawangeek commented on #50
Sure, go ahead :)

[2020-10-08 14:26] pawangeek commented on #28
Yes it should be random, you can use something like random lib to generate that value and the path should be hardcoded

[2020-10-08 14:28] #31 closed

[2020-10-08 14:45] pawangeek opened #53 "Image to sketch"
## Script Title - Able to convert any image to sketch (Use cv2 module for that)

**what will change** - Adding script for that

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### P

[2020-10-08 14:48] pawangeek opened #54 "Scraping links from Text file"
## Script Title - Able to extract all links from any text file (Use regex library)

**what will change** - Add script for that

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### P

[2020-10-08 14:50] pawangeek opened #55 "Sending SMS"
## Script Title - Script is able to send msgs (Use Twilio or SendGrid for that)

**what will change** - Adding script for sending sms

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

[2020-10-08 14:52] #6 closed

[2020-10-08 14:56] pawangeek opened #56 "Scraping Github user details"
## Script Title - The purpose of the script is to get publicly available detail from user account

**what will change** - Adding script for that

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Addi

[2020-10-08 15:05] DevMahmoud10 commented on #54
Can I work on it?

[2020-10-08 15:07] pawangeek commented on #54
sure, go ahead :)

[2020-10-08 15:10] pawangeek opened #57 "Color to black-n-while image"
## Script Title - Script is able to change a color image to bw image (Can be done by cv2 library)

**what will change** - Adding script for that

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Addi

[2020-10-08 15:14] pawangeek opened #58 "IPL Status"
## Script Title - Webapp able to fetch the next matches and score if any match is live

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Pro

[2020-10-08 15:19] pawangeek opened #59 "Empty Folder Cleaner"
## Script Title - Scriptable to remove all empty folders from target directory

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improvin

[2020-10-08 15:20] javmarina commented on #59
Can you assign it to me?

[2020-10-08 15:26] pawangeek commented on #59
ok, fine

[2020-10-08 15:37] SaiSrichandra commented on #50
Can I also give it a shot?

[2020-10-08 15:44] pawangeek commented on #50
Sorry @SaiSrichandra, Please look into other issues. This is already assigned to someone. You can create your own issue too for any practical application. Hope you understand :)

[2020-10-08 15:49] SaiSrichandra commented on #38
I would like to do this

[2020-10-08 15:50] pawangeek commented on #38
okay, go-ahead

[2020-10-08 15:57] fieryash commented on #57
Is this a simple script for black and white or is there any special condition?
I am creating a pull request for this issue.

[2020-10-08 15:57] YourFriendlyError commented on #57
May work on this?

[2020-10-08 15:58] pawangeek commented on #57
Just a simple task for changing the color of the image to bw and save it too

[2020-10-08 16:16] #35 closed

[2020-10-08 16:42] pawangeek opened #60 "Alarm Clock"
## Script Title - Script is able to make a particular sound on set time
(You can use winsound and sched module for this)

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevan

[2020-10-08 16:45] janethavi commented on #53
Can I get assigned for this issue?

[2020-10-08 16:46] pawangeek commented on #53
okay, sure

[2020-10-08 16:49] YourFriendlyError commented on #55
May I work on this?

[2020-10-08 17:04] michalStarski commented on #56
Can you assign me to this issue? I'd like to contribute.

[2020-10-08 17:07] pawangeek commented on #56
Sure, go-ahead

[2020-10-08 17:08] pawangeek commented on #55
Sure,  why not?

[2020-10-08 17:25] GudlaArunKumar opened #63 "Scraping BBC and CNN News website"
## Script Title - Scraping the first two pages of HackerNews website

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Languag

[2020-10-08 17:26] GudlaArunKumar commented on #63
Can I work on this issue @pawangeek

[2020-10-08 17:28] fieryash commented on #10
Can I work on this too?

[2020-10-08 17:30] pawangeek commented on #63
Hey, can you able to scrape CNN and BBC in if-else condition? That's more useful to me. Just home page headlines ?

[2020-10-08 17:31] #57 closed

[2020-10-08 17:32] pawangeek commented on #10
Sure why not @fieryash

[2020-10-08 17:35] GudlaArunKumar commented on #63
Okay sure, I will try CNN and BBC scraping after completing this script. Is that fine?

[2020-10-08 17:36] GudlaArunKumar commented on #63
okay then as you changed the title, I will do BBC and CNN then!

[2020-10-08 17:36] pawangeek commented on #63
Yeah sure :)

[2020-10-08 17:56] fieryash commented on #53
Can I get assigned for this issue as well? Or is it 1 person per issue only?

[2020-10-08 17:58] pawangeek commented on #53
Just one issue per person @fieryash

[2020-10-08 17:59] #10 closed

[2020-10-08 18:09] shubhampawar opened #66 "Face Detection"
## Script Title -

**what will change** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

[2020-10-08 18:18] fieryash commented on #66
Can i do this?

[2020-10-08 19:49] SoumyaRanjanNaik commented on #60
Can I build a command line alarm clock ?
If yes, can I have this issue assigned to me ?

[2020-10-08 22:21] avishekchoudhary commented on #60
Can you assign it to me also

[2020-10-09 02:55] #28 closed

[2020-10-09 02:59] #56 closed

[2020-10-09 03:02] #55 closed

[2020-10-09 03:04] pawangeek commented on #60
okay go ahead

[2020-10-09 03:06] #43 closed

[2020-10-09 03:11] pawangeek opened #70 "Face morphing"
## Script Title - Script is able to create a small gif converting one face to another (One can use Delaunay triangulation + Warp affine and cv2 module for this)

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Plea

[2020-10-09 03:42] jaypaliwal1212 commented on #44
Is this issue still available? If yes, can I work on it?

[2020-10-09 03:57] pawangeek commented on #44
hey @jaypaliwal1212. Linked PR is in review can you check other issues

[2020-10-09 03:57] jaypaliwal1212 commented on #38
Is this issue still available? If yes, can I work on it?

[2020-10-09 03:59] pawangeek commented on #38
okay sure, go ahead :)

[2020-10-09 06:44] #60 closed

[2020-10-09 06:52] Anustup900 commented on #70
I want to work in this issue too please assign me

[2020-10-09 06:54] SoumyaRanjanNaik commented on #12
Could you please clarify if we need to just password protect the pdf file or use a script to encrypt the file directly (which would require anither decryption script) using some algorithm like AES ?

[2020-10-09 06:54] pawangeek commented on #70
Can you please send a PR of the previously assigned issue?

[2020-10-09 06:56] pawangeek commented on #12
We have to encrypt the pdf file using any algorithm(aes, rsa, etc. ). And able to decrypt that later

[2020-10-09 06:56] Anustup900 commented on #70
yes am just creating the pull request in one hour

[2020-10-09 06:57] pawangeek commented on #70
Sure, then I will assign this to you :)

[2020-10-09 06:57] SoumyaRanjanNaik commented on #12
okay! Could you please assign this to me ? I would like to work on it.

[2020-10-09 06:59] pawangeek commented on #12
Sure, why not

[2020-10-09 07:04] pawangeek commented on #2
@all-contributors please add @pawangeek  for infrastructure, tests and code

[2020-10-09 08:28] #38 closed

[2020-10-09 09:20] #53 closed

[2020-10-09 09:21] #12 closed

[2020-10-09 09:23] pawangeek commented on #18
hey @varuntumbe, any progress?

[2020-10-09 09:38] pawangeek opened #109 "Convert word to PDF"
## Script Title - Script is able to convert doc file to pdf file

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [

[2020-10-09 09:40] pawangeek opened #111 "Password manager"
## Script Title - Script should able to store passwords

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

[2020-10-09 09:45] pawangeek opened #113 "Image Annotator"
## Script Title - Script to able to add proper annotations if an image is given

**what will change** - Adding script

## Instructions

- Create a new folder for your script and the file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Progra

[2020-10-09 09:58] fieryash commented on #109
can i do this?

[2020-10-09 10:39] SaiSrichandra commented on #113
Hey, I would like to try it out

[2020-10-09 10:44] #44 closed

[2020-10-09 10:46] pawangeek commented on #109
okay sure

[2020-10-09 10:48] pawangeek commented on #113
okay, try it out. In any case or clarification, just ping me

[2020-10-09 10:56] #66 closed

[2020-10-09 10:56] SaiSrichandra commented on #113
How do you want it to work
Like what are the inputs and outputs
Is there any already existing library you know of or should I have to use a machine learning model

[2020-10-09 10:59] pawangeek commented on #113
No there is not any Library of this I think, But there are many APIs of the same. But I encourage you to create your own weights save them in a pickle file and call them in the script (As tag suggest deep-learning) :)

[2020-10-09 11:08] shubhampawar opened #115 "TickTacToe script"
## Script Title -

**what will change** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

[2020-10-09 11:10] SaiSrichandra commented on #113
Making sure we are on the same page,
You mean image captioning right
Like you give an image and it gives out few words of objects it identifies right?
Or is there any other idea

[2020-10-09 11:13] pawangeek commented on #113
Yes that's what I want, Description of image

[2020-10-09 11:13] #109 closed

[2020-10-09 11:16] pawangeek commented on #115
Hey, what kind of automation it involved?

[2020-10-09 11:29] ebsa491 commented on #111
Hi, Can you assign it to me? thanks

[2020-10-09 11:30] ebsa491 commented on #111
Hi, can you assign it to me? thanks

[2020-10-09 11:47] varuntumbe commented on #18
i tried to do it by just comparing the name then it hit me its more elegent to check it using size and also i have learnt that by hashing a content it would be more perfect so still working.

when's the deadline ?

[2020-10-09 11:58] pawangeek commented on #18
okay that's cool, no not any strict deadline, just carry on :)

[2020-10-09 11:58] pawangeek commented on #111
Sure go-ahead

[2020-10-09 12:11] fieryash opened #117 "Removing watermark from scanned documents"
## Script Title -Script to remove watermark scanned documents

**what will change** - adding code

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Py

[2020-10-09 12:12] fieryash commented on #117
Can you assign me this? Does it count towards hacktoberfest?

[2020-10-09 12:17] pawangeek commented on #117
Yes, it will, and it's a good script too but can you brief about what kind of watermark is it?

[2020-10-09 12:18] fieryash commented on #117
Basically we use cv2 to remove the watermark from any sort of scanned documents

[2020-10-09 12:20] fieryash commented on #117
![test](https://user-images.githubusercontent.com/48550799/95582102-c5afd700-0a57-11eb-9343-514cc24ee377.jpg)

something like this.. we can remove the watermark which can be useful when an OCR or something is used on the document to extract text

[2020-10-09 12:20] pawangeek opened #119 "Linkedin Connection scraper"
## Script Title - script should able to scrap all connections of one who is running that script
(can be done by requests/selenium/bs4 )

**what will change** - Adding script for that

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete opti

[2020-10-09 12:21] fieryash commented on #117
![Word-2016-draft-watermark](https://user-images.githubusercontent.com/48550799/95582257-07d91880-0a58-11eb-8db8-f167df58ab07.png)

basically removing watermark from such documents, useful if in further steps an OCR is used to read the text

[2020-10-09 12:22] pawangeek commented on #117
Okay, that's fine. so it's pdf/doc or any other format?

[2020-10-09 12:22] fieryash commented on #117
jpg format.. but i can extrapolate to pdf if needed

[2020-10-09 12:25] pawangeek commented on #117
okay do it for jpg and extend it further using pdf2image for pdfs

[2020-10-09 12:49] GoluffyxD commented on #119
Hey, Id like to take this issue.

[2020-10-09 13:32] fieryash commented on #117
It is done

[2020-10-09 14:00] pawangeek commented on #119
Okay, sure :)

[2020-10-09 14:09] #117 closed

[2020-10-09 14:27] pawangeek opened #122 "Website blocker"
## Script Title - script able to block user-requested website

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x]

[2020-10-09 14:31] pawangeek opened #123 "Video Player"
## Script Title - Script is able to play and pause (one can use cv2 and ffpyplayer)

**what will change** - Adding script of Video Player

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New

[2020-10-09 14:33] Anustup900 commented on #70
I created the PR , and its now passed tests can you please assign to me

[2020-10-09 14:33] #50 closed

[2020-10-09 14:35] pawangeek commented on #70
sure, you deserve it

[2020-10-09 14:59] pawangeek opened #126 "Screen recorder"
## Script Title - Should have play, pause and end args in recorder

**what will change** - adding a script for that

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming

[2020-10-09 15:01] pawangeek opened #127 "Quick paint application"
## Script Title - It should be useful for creating quick notes somewhere

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Langu

[2020-10-09 15:27] GoluffyxD commented on #119
Hey! Turns out Scraping on LinkedIn isn't permitted according to the Terms and Conditions!
I'm afraid Ill have to discontinue! Sorry about that

[2020-10-09 15:36] pawangeek commented on #119
Yeah, I recently got to know that. Thanks for your step and aware all of us about the same :). Looking forward to you for coming up a different scraper maybe like getting facebook data using APIs

[2020-10-09 15:37] #63 closed

[2020-10-09 15:38] senguyen1011 commented on #126
I'm interested in working on this, could I be assigned to it?

[2020-10-09 15:39] pawangeek commented on #126
sure, go ahead :)

[2020-10-09 15:55] #11 closed

[2020-10-09 15:56] #119 closed

[2020-10-09 16:03] pawangeek opened #129 "Automated actions not triggered"
**Describe the bug**
After PR of the all-contributors bot, I added an automated action for the labeler(.github/workflow/labeler.yml) workflow which is not working

**Expected behavior**
It should add **automerge** tag to PR as mentioned in .github/label-pr.yml

[2020-10-09 16:47] shubhampawar opened #130 "Number to roman number generator"
## Script Title -

**what will change** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

[2020-10-09 16:51] Paola351 commented on #130
Hi! I would like to work on that for Java and Python :D

[2020-10-09 16:52] jayaganeshkumar commented on #130
Can I work on this? I have my code ready with linting also

[2020-10-09 16:52] shubhampawar commented on #130
I'm already working on this

[2020-10-09 16:55] jayaganeshkumar commented on #130
Does that mean you created this issue for submitting your code?

[2020-10-09 16:57] jayaganeshkumar commented on #33
@pawangeek

Can I work on this?

[2020-10-09 17:00] pawangeek commented on #33
okay sure

[2020-10-09 17:03] shubhampawar commented on #130
nope someone else gave me idea for this issue so thought of writing a script and submitting here 😄

[2020-10-09 17:03] Lunaditu commented on #127
hey, can i take this?

[2020-10-09 17:04] pawangeek commented on #127
sure

[2020-10-09 17:06] shubhampawar opened #131 "Sudoku Solver"
## Script Title -

**what will change** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

[2020-10-09 17:07] shubhampawar opened #132 "Events notification (FB to WhatsApp)"
## Script Title -

**what will change** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

[2020-10-09 17:11] pawangeek commented on #130
Sorry to say but it doesn't add any kind of automation.

[2020-10-09 17:12] pawangeek commented on #131
#6 Already done and solved at #51

[2020-10-09 17:13] pawangeek commented on #132
This seems to be fine. Go ahead and send a PR for this

[2020-10-09 17:14] #131 closed

[2020-10-09 17:14] #130 closed

[2020-10-09 17:15] pawangeek commented on #21
hey, any update @Saumya-Mishra9129

[2020-10-09 17:23] pawangeek opened #134 "Digital Clock"
## Script Title - Create a digital clock using any GUI in Python

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [

[2020-10-09 17:24] GaganSingh5 commented on #122
hey dev @pawangeek  I would like to work on this!!!

[2020-10-09 17:25] #126 closed

[2020-10-09 17:26] pawangeek commented on #122
Okay go ahead @GaganSingh5

[2020-10-09 17:29] pawangeek opened #136 "Stopwatch"
## Script Title - With features start, stop and reset

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

[2020-10-09 17:32] Xerdiosa commented on #134
I'd like to work on this, can you assign me for this issue?

[2020-10-09 17:32] pawangeek commented on #134
Okay sure

[2020-10-09 17:34] pawangeek opened #138 "Domain availability checker (DNS lookup)"
## Script Title - Script is able to check the domain is available or not

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Langu

[2020-10-09 17:36] pawangeek opened #139 "Voice Recorder"
## Script Title - Script is able to record voice (Play, pause, done functionalities)

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Progr

[2020-10-09 17:40] pawangeek opened #140 "Automate Birthday Wish"
## Script Title - Send a message on any social platform at 12.01

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and the file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [

[2020-10-09 17:44] pawangeek opened #141 "PDF merger"
## Script Title - Script is able to merge all pdfs of directory

**what will change** - Adding PDF merger script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Lan

[2020-10-09 17:45] durgeshahire07 commented on #136
hello, i want to contribute to this project can you assign this issue to me

[2020-10-09 17:46] pawangeek commented on #136
okay sure

[2020-10-09 17:49] pawangeek commented on #19
hey @Kirkkm, any update ?

[2020-10-09 17:55] #33 closed

[2020-10-09 18:07] Kirkkm commented on #19
Hey @pawangeek, I have started writing the script on my local machine but I got busy with work the past few days. I plan to continue to work on it tonight since I will have more free time to dedicate to this.

[2020-10-09 18:12] pawangeek commented on #19
That's alright no problem. You can do this in your free time maybe at weekend or so

[2020-10-09 19:10] Sacrezar opened #143 "Setup venv Script"
## Setup venv Script

**what will change:** Add a script to setup a venv and install packages in requirement.txt for all scripts in folders .

I also suggest to add a gitignore.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options t

[2020-10-09 19:14] nagy3n commented on #143
In bash or python?

[2020-10-09 19:16] Sacrezar commented on #143
If it was me, I would have done it in bash. But I'm not the repo owner. So gotta ask @pawangeek if the issue is accepted 😊

[2020-10-09 22:06] DragonGhost7 commented on #123
I could do this.

[2020-10-10 01:03] paulopacitti commented on #141
I'd like to work on this, could you assign me? :)

[2020-10-10 01:53] pwees commented on #138
I'll take this one.

[2020-10-10 02:27] pawangeek commented on #138
Ok fine

[2020-10-10 02:28] pawangeek commented on #141
Ok go ahead ;)

[2020-10-10 02:29] pawangeek commented on #143
Okay that’s fine to do this in bash @nagy3n would you like to take this ?

[2020-10-10 02:46] #59 closed

[2020-10-10 02:49] pawangeek opened #148 "Covid-19 tracker"
## Script Title - A script able to retrieve data about coronavirus

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

-

[2020-10-10 02:55] #13 closed

[2020-10-10 03:04] fa1l commented on #143
I can do this

[2020-10-10 03:12] pawangeek commented on #143
Ok go ahead

[2020-10-10 03:37] aolaria commented on #138
Hi, I've already figure it out this one, but I've forgotten to ask for assignation. there's still a chance? thanks!

[2020-10-10 05:16] #18 closed

[2020-10-10 05:57] SaiSrichandra commented on #139
I would like to give this a shot
I already have a basic player without  a pause button
I will try to implement  the pause button

[2020-10-10 05:57] Kartik-byte commented on #129
Hey, can you be a little more specific?
Like which type of files you are targeting for auto label . According to your regex in label-pr.yml it is targeting files with extension - {.docs , .contributors}.
Thank you.

[2020-10-10 05:59] varuntumbe commented on #18
Hey one last question i havent changed contributors file. do i have to change it to include mine ?
thanks in advance

[2020-10-10 07:32] pawangeek commented on #139
Okay go ahead :)

[2020-10-10 07:38] pawangeek commented on #129
No, not it's not with targetting files, it matches a pattern with a description of the issue (having docs and contributors in the description)

Here is the [link](https://github.com/marketplace/actions/pr-label-by-files) for that

[2020-10-10 07:40] pawangeek commented on #18
Wait I will add you

[2020-10-10 08:00] edoardottt commented on #148
Done

[2020-10-10 12:19] #37 closed

[2020-10-10 12:21] #148 closed

[2020-10-10 12:32] #115 closed

[2020-10-10 12:37] pawangeek opened #158 "PDF Editor"
## Script Title - Script should be able to edit pdf

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

[2020-10-10 12:38] pawangeek opened #159 "Youtube Video Downloader"
## Script Title - Script should be able to download YT videos

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x]

[2020-10-10 12:41] pawangeek opened #160 "Image Cartoonizer"
## Script Title - Script is able to convert any image to cartoon character

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Lan

[2020-10-10 12:42] pawangeek opened #162 "Text from Image Extractor"
## Script Title - Script is able to extract text from image

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Py

[2020-10-10 12:46] ashkankamyab opened #163 "Tweet-cli script"
## Script Title - Tweet using tweet-cli

**what will change** - Add script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [ ] B

[2020-10-10 12:47] ashkankamyab commented on #163
@pawangeek
May you please approve this? I would like to grab it as well if you don't mind.

[2020-10-10 13:06] pawangeek commented on #163
Okay go ahead, but can you brief me about exact objective and how you gonna achieve that

[2020-10-10 13:14] ashkankamyab commented on #163
Thanks.
The Objective is to tweet in a nerdy way :monkey_face: using cli like `tweet-cli "this is my tweet from tweet-cli"`
This is a super easy task as we have implemented the tweet API module. So I just call this module and update the status using `api.update_status()` . Please share your idea enhancement if you have some.

besides I have a question. The Dockerfile also needs to be revised, woul

[2020-10-10 13:15] shubhampawar opened #164 "Take a picture of person unlocking the laptop and email it with location."
## Script Title -

**what will change** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

[2020-10-10 13:19] pawangeek commented on #163
Sounds great and fix that dockerfile in this same issue. I think no need to open another one

[2020-10-10 13:20] pawangeek commented on #164
Sorry can you describe more about it ?

[2020-10-10 14:06] #70 closed

[2020-10-10 14:11] #127 closed

[2020-10-10 14:28] #2 closed

[2020-10-10 14:30] #163 closed

[2020-10-10 14:32] ashkankamyab commented on #22
### I am almost finished with task but I need consultation:

Questionnaires:

- Twillio for sending SMS as notification tested, but it is not free. Do we have any equivalent for free?
- What shoudl be the Margin of the reduction to send a notification. At the moment I need to implement this and I have some Idea:

- [x] Current Price reduced 20% than Highest Price.
- [x] Current Price is equal/smal

[2020-10-10 14:37] pawangeek commented on #22
i) Twilio is sending SMS for free if you insert any verified number there, just doing that is enough or rather you can use SendGrid as an alternative for Emailing instead of SMS

ii) If the price comes down from the target price

[2020-10-10 14:59] #138 closed

[2020-10-10 15:06] #58 closed

[2020-10-10 15:29] pawangeek opened #171 "HTML to pdf"
## Script Title - the script is able to convert HTML to pdf

**what will change** - adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Py

[2020-10-10 15:30] pawangeek opened #172 "Speet Tester"
## Script Title - script able to test the speed of connectivity/internet

**what will change** - adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Langu

[2020-10-10 15:33] pawangeek opened #173 "Instagram Follower utility"
## Script Title - Script should able to find persons who don't follow you, but you follow them (look at instapy library for help)

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are no

[2020-10-10 15:39] #143 closed

[2020-10-10 15:43] LucasVanHaaren commented on #159
Hi, I'm up to developing this script ! :point_up:

Is it possible to use third party libraries like [pytube](https://github.com/nficano/pytube)?

[2020-10-10 15:45] pawangeek commented on #123
ok, go-ahead  @DragonGhost7

[2020-10-10 15:46] pawangeek commented on #159
okay, that's fine but make the process smooth as possible and add args for triggering script :)

[2020-10-10 15:47] #164 closed

[2020-10-10 15:52] pawangeek opened #175 "Image Resizer"
## Script Title - Should pop error message when trying to expand and works when trying to compress

**what will change** - Adding acript

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New C

[2020-10-10 15:54] pawangeek opened #176 "Subtitle Creator"
## Script Title - One can use moviepy for this purpose

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

[2020-10-10 15:59] pawangeek opened #177 "Suggest more day-to-day utility automation"
Please share those boring stuff you have to do that in your daily life on you pc/laptop, we will try to automate that using Python :)

[2020-10-10 16:00] #177 closed

[2020-10-10 16:01] RIstiaque commented on #173
I'd like to attempt this, can you assign this to me?

[2020-10-10 16:02] LucasVanHaaren commented on #172
Hi, I would like to work on it !

[2020-10-10 16:03] pawangeek commented on #173
sure @RIstiaque , it's the most interesting task I've created till now :). Hope you understand by description what you have to do in this.

[2020-10-10 16:04] pawangeek commented on #172
Can you please make a PR of the previously assigned one first?

[2020-10-10 16:06] pawangeek opened #178 "Keylogger"
## Script Title - As the name suggests, it should able to record keys (Can be sone by pynput)

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

[2020-10-10 16:07] mateuszkowalke commented on #172
Hello. I'd like to tackle this one if possible?

[2020-10-10 16:08] Anustup900 commented on #160
please assign this to me

[2020-10-10 16:08] thevirtualbuddy commented on #178
Can I take this issue?

[2020-10-10 16:08] pawangeek commented on #172
okay, go-ahead @mateuszkowalke

[2020-10-10 16:09] Kartik-byte commented on #129
Yeah that is true but I think that GitHub action is not looking for description of a issue, it is looking at the filenames in the committed PR so unless it finds a file with a extension {.docs , .contributors} (according to your regex) it wont add a tag to the PR.
### Configuration

Create a file into your root project directory: `.github/label-pr.yml`:
[code]
_This is a sample to illustrate how y

[2020-10-10 16:09] pawangeek commented on #160
okay fine @Anustup900

[2020-10-10 16:09] pawangeek commented on #178
sure, go-ahead

[2020-10-10 16:11] thevirtualbuddy commented on #178
Okay! Thank you @pawangeek

[2020-10-10 16:13] maheshschand commented on #171
Can you please assign this issue to me?

[2020-10-10 16:15] pawangeek commented on #129
![labeler](https://user-images.githubusercontent.com/42181691/95659893-cf156e00-0b41-11eb-979e-71e803f2dd45.PNG)

It's able to detect correct files like which are changed by bot

[2020-10-10 16:15] pawangeek commented on #171
okay sure :)

[2020-10-10 16:16] pawangeek opened #179 "Star This Repo ⭐⭐⭐"
To encourage me more 🙂

[2020-10-10 16:16] #179 closed

[2020-10-10 16:20] pawangeek opened #180 "Video merger"
## Script Title - Script is able to merge two videos

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

H

[2020-10-10 16:26] pawangeek opened #181 "Mini Plagiarism Checker"
## Script Title - One can use NLP stuff with google APIs (Just remove credentials before sending PR)

**what will change** - Adding script

## Instructions

- Create a new folder for your script and the file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding

[2020-10-10 16:30] Kartik-byte commented on #129
Hey ,just for testing can you make a PR and add two empty files like "test.docs" and "test.contributors" to see how this bot reacts?
Thanks.

[2020-10-10 16:34] pawangeek commented on #129
Okay, on my way

[2020-10-10 16:38] pawangeek commented on #129
Yeah, it's working

[2020-10-10 16:42] pawangeek commented on #129
I think we should move on to [this](https://github.com/actions/labeler) labeler. It's official one

[2020-10-10 16:56] jp2373 commented on #162
Just finished working on it, can I create a PR?

[2020-10-10 16:57] pawangeek commented on #162
sure :)

[2020-10-10 17:02] Kartik-byte commented on #129
Okay, I am a little short on time right now but I will let you know once I am free.😄

[2020-10-10 18:00] thevirtualbuddy commented on #178
Hello, @pawangeek!
Could you please tell me how to pass the codespell test and flake8linter test? I'm a newbie here.

[2020-10-10 18:45] thevirtualbuddy commented on #178
Hi @pawangeek !
I installed code spell checker extension on my vscode and it is showing warning because of the module pynput.
Any solution on how to remove the warning and get all the checks passed?

[2020-10-10 18:56] johan7004 commented on #134
i would like to work on this can you assign me ?

[2020-10-11 00:10] thevirtualbuddy commented on #178
@pawangeek Please check PR #184 .

[2020-10-11 02:09] #172 closed

[2020-10-11 02:10] #136 closed

[2020-10-11 02:28] #178 closed

[2020-10-11 02:30] #162 closed

[2020-10-11 02:31] #54 closed

[2020-10-11 02:34] #19 closed

[2020-10-11 02:35] pawangeek commented on #134
okay @johan7004 go ahead

[2020-10-11 02:36] pawangeek commented on #23
hey @sculley any progress ?

[2020-10-11 03:53] #123 closed

[2020-10-11 03:58] DragonGhost7 commented on #180
When you say merge, do you mean concatenate one after another, or how?

[2020-10-11 04:05] DragonGhost7 commented on #176
I can take this issue

[2020-10-11 04:10] Kartik-byte commented on #129
Okay so I looked into the script and again I don't think it is supposed to work as you want it to. The labeler you are using checks for changes in file paths and not for description or title:-

# Pull Request Labeler
Pull request labeler triages PRs based on the <ins>paths</ins> that are modified in the PR.
##
Now going back to what you want, I think you might wanna give [this](https://github.com/

[2020-10-11 04:11] pawangeek commented on #180
Merged is something including your changes in the main repository

[2020-10-11 04:12] pawangeek commented on #176
okay, go-ahead

[2020-10-11 04:14] DragonGhost7 commented on #180
yes i know, i mean what exactly should this script do with a video

[2020-10-11 04:17] pawangeek commented on #180
ahh, okay here merging means adding two videos, yes that's concatenating. Then we make another different Issue to do that in parts too like it's able to add clips in between.

Currently, it's a simple concatenation

[2020-10-11 04:18] DragonGhost7 commented on #180
ay, okey, i could do that

[2020-10-11 04:21] pawangeek commented on #180
Okay, cool

[2020-10-11 04:33] pawangeek commented on #129
Hey, thanks for that. It worked for me :). But now have some issue in automerge actions

[2020-10-11 04:36] pawangeek commented on #129
I am using [this](https://github.com/pascalgn/automerge-action) action.
![automerge](https://user-images.githubusercontent.com/42181691/95670480-4c27fe00-0ba9-11eb-98bf-9f69a67c652e.PNG)

It triggers perfectly but unable to complete action

[2020-10-11 04:40] pawangeek commented on #129
@all-contributors add @Kartik-byte for infrastructure

[2020-10-11 04:41] pawangeek commented on #129
It's working :p

[2020-10-11 04:46] Kartik-byte commented on #129
Okay, the previous PR might have been a bug or restrictions in the main workflow file.
Anyways, hope this solved your problem and this issue can be closed now.
Thank you.😄😄

[2020-10-11 04:48] pawangeek commented on #129
Yes, thanks for that 😂

[2020-10-11 04:49] #129 closed

[2020-10-11 05:07] SakshiUppoor commented on #27
Hi, I'd like to work on this issue. Could you please assign it to me?
I'm planning to use API provided by Kontests as the data source, if that's fine.

[2020-10-11 05:09] maxily1 commented on #171
Could you assign this issue to me?

[2020-10-11 05:09] maxily1 commented on #171
Oh nvm, It's been done already.

[2020-10-11 05:10] maxily1 commented on #173
Hey could you assign me?

[2020-10-11 05:41] pawangeek commented on #27
Okay that’s fine. Go ahead

[2020-10-11 06:01] SunTzunami commented on #134
I'd be grateful if you could assign me for this issue.

[2020-10-11 06:13] pawangeek commented on #173
Okay try to come up with one @maxily1

[2020-10-11 06:15] pawangeek commented on #134
Hey @SunTzunami, it's already assigned to two members. Kindly look at other issue and check if you're able to solve them

[2020-10-11 06:21] SunTzunami commented on #134
The thing is I've already made it. 😅

[2020-10-11 06:22] maheshschand commented on #171
@pawangeek It's done already.

[2020-10-11 06:24] pawangeek commented on #134
Then doing the same thing, again, isn't add any value I think. Come up with something new, something real

[2020-10-11 06:25] pawangeek commented on #171
oh my bad I haven't look at that @maheshschand

[2020-10-11 06:27] #171 closed

[2020-10-11 06:29] SunTzunami commented on #134
Like I made it right now.

[2020-10-11 06:29] SunTzunami commented on #134
I was working on arcade framework earlier. This was new to me.

[2020-10-11 06:33] pawangeek opened #198 "Audio Recorder"
## Script Title - As the name suggests, the script is able to record audio with a start, pause, and complete functionality

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relev

[2020-10-11 06:35] maxily1 commented on #173
Is it normal if I won't be using instapy?
Unfortunately it doesn't work properly for me.

[2020-10-11 06:36] pawangeek commented on #173
Yup, you can use any lib/tool, but it will able to solve end-purpose

[2020-10-11 06:38] pawangeek opened #199 "Music mixer"
## Script Title - GUI has the functionality to a to add and run two songs together, stop any one of them, upload a new song from

**what will change** - Adding GUI script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are

[2020-10-11 06:40] pawangeek opened #200 "Youtube Clipper"
## Script Title - We have utility for downloading the whole video #159 but now we something to download a small clip from the video based on time

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete opt

[2020-10-11 06:42] pawangeek opened #201 "Port Scanner"
## Script Title - Able to scan ports

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x]

[2020-10-11 06:44] pawangeek opened #202 "Wikipedia Search"
## Script Title - Simple and easy only for beginners. One has to add functionality to save the search as PDF too

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

-

[2020-10-11 06:47] pawangeek opened #203 "Text summarizer"
## Script Title - Very tough and challenging one. One can use BERT/ cosine dist to solve this and no need to be 100% correct. Just make a simple prototype :). For more comment in the issue

**what will change** - Adding script

## Instructions

- Create a new folder for your script and the file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add re

[2020-10-11 07:01] ferhah commented on #203
Hm, sounds complex, but intersting. I would like to give it a try.

[2020-10-11 07:05] pawangeek commented on #203
Sure, give it a try, no need to worry that it should work perfectly. Up to 50/60 is a pretty good score :)

[2020-10-11 07:46] roterhut commented on #201
Hi,
Can I work on this?

[2020-10-11 08:00] thevirtualbuddy commented on #202
Functionalities required:
1. Search query in wikipedia.
2. Save the result as pdf.

Am I right?
If the above functionalities is sufficient for this isssue, can you assign it to me?

[2020-10-11 08:02] corleone77 commented on #201
Hi, I'd like to contribute on this issue.
I've created the script right now.
I'm ready for make the PR.
Thanks.

[2020-10-11 08:53] #111 closed

[2020-10-11 09:19] #173 closed

[2020-10-11 09:23] #22 closed

[2020-10-11 09:29] pawangeek commented on #202
See you have to save the partial content of the first search results. Like if we query Indian premier league. It will save the initial abstract of the article about IPL (excluding images)

[2020-10-11 09:57] sculley commented on #23
Yes sir, I have all the code working/PEP8 validated. I am working on the README.md right now and will submit the PR later today :+1:

[2020-10-11 10:14] #122 closed

[2020-10-11 10:15] pawangeek commented on #23
Arey, don't call me Sir, I m just a learner like you :)

[2020-10-11 10:17] #201 closed

[2020-10-11 10:18] corleone77 commented on #201
Hi @pawangeek ,
Thanks ¡¡¡ ;)

[2020-10-11 10:22] pawangeek commented on #201
Expecting a star on repo by you, @corleone77 😃

[2020-10-11 10:24] happyeric77 commented on #175
I am now doing python image task, might I try to work on it?

[2020-10-11 10:25] pawangeek commented on #175
umm, okay @happyeric77 go ahead

[2020-10-11 10:38] corleone77 commented on #201
Done ¡¡¡¡

[2020-10-11 10:44] thevirtualbuddy commented on #202
Okay @pawangeek got it. :)

[2020-10-11 10:45] pawangeek opened #211 "Simple Book Manager"
## Script Title - Create a DB to store which(name) book is placed with its path and subject of that book. Bonus if you able to add some kind of GUI to handle that

**what will change** - Adding the script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

[2020-10-11 10:54] pawangeek opened #212 "video watermarker"
## Script Title - Able to add watermark in the video

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

H

[2020-10-11 10:58] pawangeek opened #213 "Medium article Downloader"
## Script Title - Able to download the medium article and save them as PDF(with images if possible) if no blocker else raise an error

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that ar

[2020-10-11 10:59] maxily1 commented on #212
Hey, I'd like to work on this one!
Please assign me :)

[2020-10-11 10:59] pawangeek opened #214 "Torrent Searcher"
## Script Title - Able to search on torrent

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation

[2020-10-11 11:01] pawangeek commented on #212
Okay fine @maxily1

[2020-10-11 11:03] pawangeek opened #215 "Image Encrypter"
## Script Title - Able to encrypt+decrypt images

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

Happy

[2020-10-11 11:05] pawangeek opened #216 "Face mask detector"
## Script Title - Quick example to solve the purpose

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and the file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Pyt

[2020-10-11 11:06] maxily1 commented on #212
The watermark should be a text?

[2020-10-11 11:07] pawangeek opened #217 "Insta Image saver"
## Script Title - Able to save profile picture of a person

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] P

[2020-10-11 11:10] egurnick commented on #215
Hi, I'd like to work on this

[2020-10-11 11:11] pawangeek commented on #212
yeah, that's enough for now but if it's possible to add something unique like the user is able to choose multiple fonts (at least 4-5) +  weight + size( just add range).

Is that possible @maxily1

[2020-10-11 11:11] vibhorkrishna commented on #200
Can I take this issue?
Till now I have written a script that is able to download the whole video
So I can also complete the issue #159
Also there have been some changes in hacktoberfest
Now maintainers need to add "hacktoberfest-accepted" label
So please do so (link: https://hacktoberfest.digitalocean.com/hacktoberfest-update)

[2020-10-11 11:11] pawangeek commented on #215
okay that's cool you can take help from #12

[2020-10-11 11:14] pawangeek commented on #200
PR should be labelled with hacktober-accepted. Add you can check that in accepted prs, I include that in every accepted one (It should not be random else tagged with spam)

[2020-10-11 11:14] pawangeek commented on #200
And go ahead with that, please raise an error if the clip is trying to go beyond the length of video

[2020-10-11 11:26] pawangeek opened #219 "File arranger"
## Script Title - Files arranged according to extension in respective folders

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming

[2020-10-11 11:49] ankitsheoran1 commented on #217
@pawangeek can i work on this

[2020-10-11 11:51] jayaganeshkumar commented on #217
@pawangeek  Can I work on this?

[2020-10-11 11:54] ebsa491 commented on #219
Hey @pawangeek, can I work on it?

[2020-10-11 11:59] ankitsheoran1 commented on #217
Sorry sir for confusing comment.  I mean please assign me . I want to work on this .If you assign this will be  my first attempt in online contribution.

[2020-10-11 12:04] TheFenrisLycaon commented on #219
I can do it

[2020-10-11 12:04] pawangeek commented on #217
Ok @ankitsheoran1 go ahead

[2020-10-11 12:06] pawangeek commented on #219
Hey @ebsa491 we should give a chance to first contributors :) hope you understand. And @TheFenrisLycaon go ahead with this

[2020-10-11 12:10] ankitsheoran1 commented on #217
thanks

[2020-10-11 12:12] ebsa491 commented on #219
Yes you right, sure.

[2020-10-11 12:12] TheFenrisLycaon commented on #219
Alright.

[2020-10-11 13:12] TheFenrisLycaon opened #222 "Games ?"
## Script Title - Games made with Tkinter and PyGame

**what will change** - Add new files

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

- [x] Adding New Code
- [x] Improving Documentation

### Programming Language

- [x] Python

Happy Coding,

[2020-10-11 13:13] TheFenrisLycaon commented on #222
@pawangeek I have made games on python. Is this a good place to share ?

[2020-10-11 13:33] pawangeek commented on #222
sorry @TheFenrisLycaon currently we're not accepting any games. As the name suggests this repo is for automation tools only

[2020-10-11 13:33] #222 closed

[2020-10-11 13:36] #219 closed

[2020-10-11 13:49] TheFenrisLycaon commented on #134
I can do this !

[2020-10-11 14:48] abhinand5 commented on #216
Hi, can you assign this to me?

[2020-10-11 14:50] pawangeek commented on #216
okay sure

[2020-10-11 14:58] abhinand5 commented on #181
I can do this as well if assigned.

[2020-10-11 14:59] pawangeek commented on #181
okay but do the first one first

[2020-10-11 15:57] tenzu15 commented on #203
Can I give it a try?

[2020-10-11 16:02] tenzu15 commented on #213
I would like to give it a try, could you assign it to me?

[2020-10-11 16:10] pawangeek commented on #213
okay go ahead @tenzu15

[2020-10-11 16:39] durgeshahire07 commented on #198
hello @pawangeek , i am interested in doing this task can you assign me this issue?

[2020-10-11 16:48] pawangeek commented on #198
cool

[2020-10-11 16:58] durgeshahire07 commented on #198
is it audio recorder or video recorder?

[2020-10-11 17:00] pawangeek commented on #198
Audio recorder

[2020-10-11 17:01] durgeshahire07 commented on #198
okay

[2020-10-11 17:13] ferhah commented on #203
Hi @tenzu15, I already start working on it. So, it might be better if I continue working on it.

[2020-10-11 17:15] tenzu15 commented on #203
Sure, No Problem

[2020-10-11 18:30] alvinuday opened #225 "Torrent Searcher help"
## Where you stuck - I don't really understand what is required by us
(what are we supposed to do )

**Frankly ask your question (We're also in learning phase :p )**
I do get you need to use python , but what do we need to code for .
## What you want to do?
Its kind of my first time ,so i dont understand whats required of me , instructions are not that clear

## Any other remark/screenshot etc.

[2020-10-11 18:49] thevirtualbuddy commented on #202
Hi, @pawangeek!
Please have a look at the PR #226 :)
Thank you.

[2020-10-11 20:49] GoluffyxD commented on #211
Hey! I'd like to work on this issue! Can you assign it to me?

[2020-10-11 22:46] keshav340 commented on #216
can you assign this to me?

[2020-10-11 23:54] johan7004 commented on #134
i have created a digital clock using tkinter

[2020-10-11 23:54] johan7004 commented on #134
i am not able to commit, new to github. kindly help

[2020-10-12 01:14] am401 opened #229 "Update pdf_encrypt code"
## Script Title -

**what will change** - Looking to update the existing *pdf_encrypt* application to amalgamate the separate *PdfEncrypt.py* and *PdfDecrypt.py* files

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are no

[2020-10-12 01:15] am401 commented on #229
Hello there - I would like to look at updating the above application in order to create one single application to encrypt and decrypt functionality. Please assign this task to me if possible to work on.

[2020-10-12 02:57] pawangeek commented on #134
Here you go @johan7004 https://opensource.com/article/19/7/create-pull-request-github

[2020-10-12 02:58] #159 closed

[2020-10-12 03:00] #23 closed

[2020-10-12 03:14] pawangeek commented on #229
Okay, that's fine to go ahead and try to use argparse lib too, to trigger completely from the terminal, no need to prompt the password section in between.

[2020-10-12 03:17] pawangeek commented on #225
you have to make something, which is able to search "movie" (input by the user) on torrent

[2020-10-12 03:25] pawangeek opened #232 "We need Testers"
We need some volunteers to check that each and every script is working properly, It's a yearlong thing, so no need to be in a hurry. You can do that in your spare time too.

[2020-10-12 03:50] am401 commented on #229
Hey @pawangeek - thank you very much. I also thought about adding the ability to define or set a flag for the password but that has the potential of logging in plain text within the shell history what the password is. My current thoughts are that the user will still be prompted for the password in order to prevent revealing it using the above method

[2020-10-12 04:35] pawangeek commented on #229
Okay, your argument seems to be correct, fine continue with the prompt for the password

[2020-10-12 05:43] #212 closed

[2020-10-12 05:44] #175 closed

[2020-10-12 06:16] maxily1 commented on #232
I'd like to help!
But will there by any system in which we can tick which script was checked and is working?

[2020-10-12 06:17] maxily1 commented on #225
You could use web scraping in Python or use the unofficial TPB api. (https://pypi.org/project/ThePirateBay/)

[2020-10-12 06:19] pawangeek commented on #232
yes, we can label them tested

[2020-10-12 06:20] #160 closed

[2020-10-12 06:21] maxily1 commented on #232
Alright, thanks, Then I'd like to help!

[2020-10-12 06:25] pawangeek commented on #232
Okay, I am adding you as maintainer, this is a year-long task, not just for hacktober, hope you will collaborate accordingly :)

[2020-10-12 06:35] pawangeek commented on #113
Hey @SaiSrichandra still trying to do that ??

[2020-10-12 06:41] maxily1 commented on #232
I will :)

[2020-10-12 06:43] SaiSrichandra commented on #113
yeah couldn't find a good way though

[2020-10-12 06:44] SaiSrichandra commented on #113
I can just give names of objects in the picture simply
But making it into a sentence, couldn't figure that out

[2020-10-12 07:29] johan7004 commented on #134
thanks

[2020-10-12 08:52] maxily1 commented on #232
I think we should open an issue which is open only for the testers, and then we will write the name of the folder tested, and will write summary.

[2020-10-12 10:03] corleone77 commented on #214
Hi @pawangeek
Can I try it ¡¡¡
Thanks.

[2020-10-12 11:26] pawangeek commented on #232
Ahh no need to open a new issue, just mention errors in the same closed PR and label them as bug otherwise label them as tested if not have any error

[2020-10-12 11:27] pawangeek commented on #134
hey @johan7004 are you able to find process?

[2020-10-12 11:28] pawangeek commented on #113
okay, I think @Anustup900 can handle this?

[2020-10-12 11:30] #132 closed

[2020-10-12 11:32] pawangeek commented on #140
@ashkankamyab will you try to figure this out? And social media can be Fb/telegram

[2020-10-12 11:33] pawangeek commented on #180
Hey, @DragonGhost7 any updates ?

[2020-10-12 11:33] ashkankamyab commented on #140
Hi,
Yeas. Please assign it to me :-)

[2020-10-12 11:41] pawangeek opened #235 "Certificate Generator"
## Script Title - This is for contributors, We have to generate a certificate for all contributors in appreciation for their contribution to automation script and hactoberfest.

**what will change** - Adding a script for that

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add require

[2020-10-12 11:56] pawangeek opened #236 "PDF watermarker"
## Script Title - Should able to watermark pdfs

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Python

Happy

[2020-10-12 12:14] ashwanimehra commented on #235
hey @pawangeek , i want to work on this issue, can u assign me?

[2020-10-12 12:20] pawangeek commented on #235
Sure go ahead, can you have any design or idea of the design for certificate

[2020-10-12 12:24] ashwanimehra commented on #235
I was thinking of using one of the templates on MS-Word, if you have any specific requirements, I'm all ears.

[2020-10-12 12:56] Anustup900 commented on #113
Yes I can handle this , can it be assigned @pawangeek

[2020-10-12 12:59] Hardik0307 commented on #236
@pawangeek want to work on this issue.

Kindly assign me.

[2020-10-12 13:31] pawangeek commented on #236
Okay cool

[2020-10-12 13:32] pawangeek commented on #113
Thanks @Anustup900

[2020-10-12 14:19] pawangeek commented on #235
![cert](https://user-images.githubusercontent.com/42181691/95756893-04e26000-0cc4-11eb-9973-877d79a4c8a6.png)

Hey, is it possible to create one like this?

[2020-10-12 14:22] pawangeek commented on #235
To extend it Lil bit, is it possible to deploy this mini web app on Heroku, netlify, or any other hosting platform (Free dyno)

[2020-10-12 14:28] pawangeek opened #238 "README Enhancements"
Anyone, like to improve README

* Add badges from shields.io
* Own innovations and cool customizations

[2020-10-12 14:31] pawangeek opened #239 "WIFI password viewers"
## Script Title - Able to see passwords of connected wifis

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Pyt

[2020-10-12 14:35] pawangeek opened #240 "SMS location"
## Script Title - Sms your current location.  An updated version of #65

**what will change** - Adding a script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Lang

[2020-10-12 14:38] pawangeek opened #241 "ZIP password cracker"
## Script Title - Add script to crack password of password-protected zip

**what will change** - Adding script

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Langu

[2020-10-12 15:08] vibhorkrishna commented on #200
hey man I have written a python script and that works on windows but I don't know whether this script will run on linux systems

[2020-10-12 15:10] Sacrezar commented on #232
Hello, I'd like to help too if you don't mind!

[2020-10-12 15:10] #202 closed

[2020-10-12 15:12] pawangeek commented on #200
That's perfect for now @vibhorkrishna We now backed up with testers, they will review it later

[2020-10-12 15:16] pawangeek commented on #232
Sure, why not @Sacrezar . I'm eagerly waiting for your comment btw 😃

[2020-10-12 15:18] Sacrezar commented on #232
Well, You're putting a lot of pressure on me 😄

[2020-10-12 15:22] Sacrezar commented on #232
If we see any error and are able to correct it, can we?

[2020-10-12 15:28] pawangeek commented on #232
Yes, that's the main responsibility for as a tester

1) Test scripts locally and remove any kind of bug (try to catch all exception)
2) Include any missing point in README
3) Check requirements.txt file

GO straight with 2 and 3 points and make a PR for 1st.

[2020-10-12 15:34] pawangeek commented on #232
And add a testing label when you pick any script, to avoid collisions

[2020-10-12 15:50] Sacrezar commented on #232
It's fine yes 🙂

In this case, shouldn't we also work on the issue #238?

[2020-10-12 16:03] Sacrezar commented on #232
Okay my bad 👌

[2020-10-12 16:45] Ajay-Raj-S commented on #239
Hello @pawangeek, I would like to work on this, can you assign this to me? please.

[2020-10-12 16:50] pawangeek commented on #239
okay, fine

[2020-10-12 19:25] DragonGhost7 commented on #180
Done, created pull request

[2020-10-12 20:27] maxily1 commented on #232
Sure @pawangeek :D

[2020-10-12 23:10] fa1l commented on #241
Hi! I can do this

[2020-10-13 03:01] pawangeek commented on #241
sure

[2020-10-13 03:03] #139 closed

[2020-10-13 03:06] #180 closed

[2020-10-13 03:14] vibhorkrishna commented on #200
Hey man this will be my first ever pull request. I don't know how to label my pull request with hacktober-accepted.
And how do I fill this template??

# Pull Request Template

**script name** - Youtube Clipper

**What have you Changed**
I added the code for youtube clipper

What you changed in the codebase. Write here
I used youtube_dl library for getting the duration of youtube video and getting

[2020-10-13 03:20] pawangeek commented on #200
Vibhor go to pull Hey @vibhorkrishna  just look at how do we create a pull request, you don't need to copy that here

[2020-10-13 03:24] vibhorkrishna commented on #200
ok

But how do I label my pull request with hacktober-accepted??

[2020-10-13 03:51] pawangeek commented on #200
I Label that after merging, no need to worry

[2020-10-13 04:54] #200 closed

[2020-10-13 04:57] #229 closed

[2020-10-13 05:34] HolgerDoerner commented on #58
Hello, I would like to take this one for HacktoberFest :smiley:

[2020-10-13 05:38] HolgerDoerner commented on #214
Hello, I would take this one for HacktoberFest :smiley:

[2020-10-13 05:50] bunnysworld commented on #240
hey @pawangeek  can you assign me with this issue

[2020-10-13 05:53] pawangeek commented on #214
okay, @HolgerDoerner go ahead :)

[2020-10-13 05:53] pawangeek commented on #240
Sure @bunnysworld :)

[2020-10-13 06:00] bunnysworld opened #251 "corona-gif-mapping"
## Script Title -Add corona maping gif

**what will change** -Adding script that fetch data and map it according to corona cases

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x

[2020-10-13 06:02] bunnysworld commented on #251
hey @pawangeek can you assign me with this
here is the amount of work i alredy did  :-   https://github.com/bunnysworld/c-19-gif

[2020-10-13 06:02] maxily1 commented on #217
Hey @ankitsheoran1 😄 , Just checking in whether you need some assistance in this?

[2020-10-13 06:13] pawangeek commented on #251
That's cool @bunnysworld but currently, we're focusing mainly on automation tools, this is more like the data analysis part. Hope you understand

still you can submit this to [awesomeScripts](https://github.com/Py-Contributors/awesomeScripts) By Py-contributors and [code-n-stitch](https://github.com/bislara/code-n-stitch) By Bislara.

[2020-10-13 06:33] bunnysworld commented on #251
thanks for suggestion @pawangeek

[2020-10-13 06:35] pawangeek commented on #232
Guys if you see any major error or if any script is showing unexpected behavior report that it with REPORT a BUG under issues template, else it sends notifs to the author of that PR

[2020-10-13 06:36] #251 closed

[2020-10-13 07:18] Crowfunder commented on #21
Hello @pawangeek ,
Wouldn't it be simpler to use PocketSphinx library for voice recognition instead? If it'll do you can assign this issue to me.

[2020-10-13 08:56] pawangeek commented on #21
@Crowfunder I think it's for live voice recognition, isn't it? I m assigning this to you come up with a solution :)

[2020-10-13 09:02] #203 closed

[2020-10-13 09:03] #225 closed

[2020-10-13 09:03] #232 closed

[2020-10-13 09:05] pawangeek commented on #134
@TheFenrisLycaon can you complete this?

[2020-10-13 09:05] TheFenrisLycaon commented on #134
Sure can @pawangeek

[2020-10-13 09:11] #238 closed

[2020-10-13 09:20] TheFenrisLycaon commented on #134
@pawangeek done !! Please review and merge.

[2020-10-13 09:28] #134 closed

[2020-10-13 10:28] bunnysworld commented on #240
hey @pawangeek  i had made a PR of my work will you give your review over it

[2020-10-13 11:13] #239 closed

[2020-10-13 12:30] durgeshahire07 commented on #198
hello @pawangeek can i add recorder with play and stop functionality, later on can you create different issue for adding pause and resume functionality in the code?

[2020-10-13 12:35] pawangeek commented on #198
OKay that's fine

[2020-10-13 13:13] kanekiken9 commented on #241
Hey Pawan!
I guess that I need to create a dictionary of passwords and then add a code which selects the right one in that dictionary.
Is it what we need to do ?

[2020-10-13 13:18] fa1l commented on #241
I'm already doing this issue and will make a PR in couple of hours :)

[2020-10-14 12:26] #241 closed

[2020-10-14 12:28] pawangeek commented on #217
@jayaganeshkumar can you pick this?

[2020-10-14 12:29] pawangeek commented on #176
hey, @DragonGhost7 any update?

[2020-10-14 12:29] pawangeek commented on #211
@GoluffyxD any update?

[2020-10-14 12:30] pawangeek commented on #213
@tenzu15 any update?

[2020-10-14 12:35] GoluffyxD commented on #211
@pawangeek I'm done with the script. Working on GUI implementation now. Should be able to finish it in a few days.

[2020-10-14 12:40] pawangeek commented on #211
Ahh, okay no problem

[2020-10-14 12:57] jayaganeshkumar commented on #217
@pawangeek  yeah

[2020-10-14 15:00] #198 closed

[2020-10-14 18:05] tenzu15 commented on #213
Found useful things, working on it.

[2020-10-14 18:57] DragonGhost7 commented on #176
Yes, I finished, linking the pull request now.

[2020-10-14 19:09] funbeedev commented on #158
Hi there,

Can this be assigned to me?

[2020-10-14 20:32] KKhushhalR2405 commented on #235
Dear Maintainers,
I have successfully completed this issue, If you can assign it to me, I will make a PR.
Thank You.

You can check my work [here](https://github.com/KKhushhalR2405/Automation-scripts/tree/khushhalreddy/cartificate_generator).

[2020-10-15 02:02] ashkankamyab commented on #140
@pawangeek My [PR](#270) crashed. May you please give me a hand to resolve this ?

[2020-10-15 02:10] pawangeek commented on #158
Sure :)

[2020-10-15 02:11] pawangeek commented on #213
Cool keep working 👍

[2020-10-15 04:09] #240 closed

[2020-10-15 04:13] #214 closed

[2020-10-15 04:15] #176 closed

[2020-10-15 04:18] #21 closed

[2020-10-15 10:51] #211 closed

[2020-10-15 11:02] pawangeek commented on #235
wow @KKhushhalR2405 , Just one thing can you please turn it into a flask app that user just give the name in UI and it generates certificates

And a few suggestions regarding that

- [ ] Remove option of xl, CSV file, the user just gives its name, pr and able to download the certificate by UI (I mean just use flask-wtf forms for taking input and output is generated certificate
- [ ] Optional -> If

[2020-10-15 11:03] pawangeek commented on #113
@Anustup900 any progress regarding same?

[2020-10-15 12:55] egurnick commented on #215
It looks like there is already a script that is a part of this project called PdfEncrypt that can encrypt any file type. How should I proceed?

[2020-10-15 13:52] Anustup900 commented on #113
Yes i am uploading the code by  tonight by removing the liniting errors @pawangeek

[2020-10-15 14:43] KKhushhalR2405 commented on #235
I started using Flask a week before, But I am sure I will come up with it in 2-3 days.
Thank You

[2020-10-15 14:45] pawangeek commented on #235
no problem @KKhushhalR2405 we have approx 10 days for this task, if you stuck somewhere in between just frankly ask for help.

[2020-10-15 14:48] pawangeek commented on #215
Ohh, I don't read your PR completely, my bad

[2020-10-15 14:48] KKhushhalR2405 commented on #235
Sure

[2020-10-15 14:50] #215 closed

[2020-10-15 18:49] funbeedev commented on #158
Thanks, I'll start working on it

[2020-10-16 03:52] #216 closed

[2020-10-16 04:23] abhinand5 commented on #181
Can you assign me now?

[2020-10-16 04:24] pawangeek commented on #181
yaaa, you deserve this now :)

[2020-10-16 10:05] m4dummies opened #278 "Google meet Joiner"
## Online class automator

**This script will let you join the class easily. All you need to do is exec the program or schedule it.** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-16 10:08] m4dummies commented on #140
Hello,
Can this be assigned to multiple people ?
I am ready to do this.
Thanks :)

[2020-10-16 10:31] pawangeek commented on #140
Yes @m4dummies but you have to do this for Facebook since he is doing for telegram

[2020-10-16 11:40] happyeric77 commented on #278
@m4dummies
Does it mean the script need to access specific online course (by API?) such as Udemy or Coursera?

[2020-10-16 11:45] pawangeek opened #279 "Remove audio from video"
## Script Title - Audiofrom_videoremover

**Brief** - Script should able to remove all audio from any video

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-16 11:46] m4dummies commented on #140
Hi Pawangeek I managed to write the script...but how do commit the folder in the repo, can u help me with that?

[2020-10-16 11:47] happyeric77 commented on #279
@pawangeek Might I work on this script?

[2020-10-16 11:48] pawangeek commented on #140
There is a link in README to do that. Further, it's an easy process just fork the repo-add folder by git bash in own repo and then make a pull request

[2020-10-16 11:49] pawangeek opened #280 "Adding text in Videos at top"
## Script Title - Video_textadder

**Brief** - Script should able to add text at the top of the video (User have the choice to customize font size)

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-16 11:49] pawangeek commented on #279
Sure @happyeric77

[2020-10-16 11:51] pawangeek commented on #278
Hey @m4dummies can you brief more about it like google meet, zoom, skype, Microsoft teams, or any other?

[2020-10-16 12:02] m4dummies commented on #278
No i simply mean that i provide the program with the link to my class and it automatically joins it.

[2020-10-16 12:02] m4dummies commented on #278
Google meet

[2020-10-16 12:02] m4dummies commented on #278
Can i myself try this @pawangeek ?

[2020-10-16 12:03] pawangeek opened #281 "Programming Quoter"
## Script Title - programming_quoter

**Brief** - It should display a programming quote as toast notifs on running (should use win10toast lib for that)

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-16 12:04] pawangeek commented on #278
so you're gonna use selenium or something?  to automate that

[2020-10-16 12:05] pawangeek commented on #278
You should make a PR for the first assigned issue first

[2020-10-16 12:06] happyeric77 commented on #280
@pawangeek
I am also able on this task. Could you assign it to me?

[2020-10-16 12:06] pawangeek opened #282 "CF solution Submit"
## Script Title - cfsol_submitter

**Brief** - Script should able to submit code forces solution on behalf of user

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-16 12:07] pawangeek commented on #280
The first task first. I will surely assign this to you :)

[2020-10-16 15:40] pawangeek opened #288 "PDF to image"
## Script Title -

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-16 15:41] #288 closed

[2020-10-16 15:43] #279 closed

[2020-10-16 18:35] ShubhamNagure commented on #281
Hi @pawangeek
Please assign me.

[2020-10-16 18:56] Vyvy-vi commented on #235
Isn't making that gonna just take a small pillow(PIL) script ?

[2020-10-16 19:12] Divyansh-20 commented on #282
@pawangeek
I'd like to contribute to this, could this be assigned to me?

[2020-10-16 22:56] happyeric77 commented on #280
@pawangeek
The first one have been merged. Might I start working on this task?

[2020-10-17 00:59] JenishRudani opened #291 "Non Blocking Audio for Recorder Raspberry PI"
## Script Title - non_blocking_audio_recorder.py

**Brief** - This audio recorder scripts would allow users to record wave files like a handheld record would allow but fo raspberry pi.

Press the button -> Start Recording
Hold the button -> Recording State
Release the Button -> Stop Recording and save the file to the appropriate location with name and a timestamp

## Instructions

- Create a new f

[2020-10-17 01:00] JenishRudani commented on #291
@pawangeek Could I work on this script?

[2020-10-17 02:13] pawangeek commented on #282
Sure @Divyansh-20 , go ahead

[2020-10-17 02:13] pawangeek commented on #280
Yes, you can

[2020-10-17 02:15] pawangeek commented on #291
Okay @JenishRudani go ahead, concept looks good

[2020-10-17 02:25] #140 closed

[2020-10-17 02:26] pawangeek commented on #281
Sure @ShubhamNagure

[2020-10-17 02:27] #199 closed

[2020-10-17 06:53] m4dummies commented on #278
Hi @pawangeek can you assign this to me?

[2020-10-17 10:37] Muskan33 commented on #278
hey, can you please assign this issue to me? I have experience with selenium.

[2020-10-17 18:35] ShubhamNagure commented on #281
Hi, @pawangeek,
Done, Please check #294 PR.
Thanks for giving me this opportunity.

[2020-10-17 23:48] pawangeek commented on #278
okay @Muskan33 try to come up with solution

[2020-10-17 23:53] #280 closed

[2020-10-19 07:53] Sacrezar opened #298 "Youtube Subscriber"
**Describe the bug**
You need to log before trying to subscribe to a channel

**To Reproduce**
Just launch the script `youtube.py` in folder `youtube_subdownloader`

**Expected behavior**
The script must handle when the user isn't connected. Either it asks the user or we hardcode it.

**Screenshots**
![image](https://user-images.githubusercontent.com/38185428/96416200-fd551680-11ef-11eb-8c96-55e58

[2020-10-19 08:01] Sacrezar commented on #298
I must admit, I find the usefulness of this script rather limited (even if we make it work).
Maybe we should just delete it? Don't know

[2020-10-19 08:02] #281 closed

[2020-10-19 08:10] m4dummies commented on #278
can u assign this to me?

[2020-10-19 08:11] pawangeek commented on #298
Yes, @Sacrezar that's not a useful script. Just adding a subscriber to any channel with no error-handling/error-flashes.
It's good we should remove it. Just make a PR deleting it

[2020-10-19 10:37] #298 closed

[2020-10-19 11:31] #282 closed

[2020-10-19 11:38] pawangeek commented on #158
any update @funbeedev

[2020-10-19 12:54] m4dummies commented on #278
hi @pawangeek  i submitted a pr, but it got declined. Could u help me with what the problem was?

[2020-10-19 14:13] pawangeek commented on #278
Just remove the linting errors @m4dummies . flake8 here

[2020-10-20 02:57] #291 closed

[2020-10-20 05:33] m4dummies commented on #278
Hi @pawangeek i completed this issue.

[2020-10-20 05:33] #278 closed

[2020-10-20 06:06] m4dummies commented on #236
Hi @pawangeek can you please assign this to me.
Thanks

[2020-10-20 06:19] sanju6890 opened #306 "Mp3 music player"
## Script Title - Mp3 music player

**Brief** - A mp3 player with a pleasing GUI. An application developed using python-tkinter. The application will be having the functionality of play, pause, next, previous, add single song, and add multiple songs.

## Programming Language

- [x] Python

Kindly review my issue and confirm if I can contribute or not.

[2020-10-20 06:19] funbeedev commented on #158
Hi, I'll have a pull request issued today

[2020-10-20 06:30] pawangeek commented on #306
Hey @sanju6890 we already have the same script named as a music player #147. If you want to work on something like this we have another open issue #199 (Just a little advance version of this) :)

[2020-10-20 06:38] sanju6890 commented on #306
Ok, Thanks for letting me know :)

On Tue, 20 Oct 2020, 12:00 Pawan Jain, <notifications@github.com> wrote:

[2020-10-20 06:39] pawangeek commented on #306
Comment on #199 if you want to work. Thanks :)

[2020-10-20 06:40] #306 closed

[2020-10-20 06:45] pawangeek opened #307 "Broken link Finder"
## Script Title - broken_linkfinder

**Brief** - A script that detects broken links in a website provided by the user (one can use requests, soupsieve or similar libs)

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Pytho

[2020-10-20 06:47] pawangeek opened #308 "Bulk mail sender"
## Script Title - bulkmail_sender

**Brief** - Script which sends an email to all mail-address from files like csv, xlsx, etc.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-20 07:02] m4dummies commented on #308
Please assign this to me.
@pawangeek

[2020-10-20 07:10] harshitashankar commented on #307
Please assign this to me.

[2020-10-20 07:44] pawangeek commented on #307
Okay fine @harshitashankar

[2020-10-20 07:45] pawangeek commented on #308
Cool @m4dummies

[2020-10-20 09:25] m4dummies commented on #308
Hi @pawangeek , should i close this issue. I submitted the PR.

[2020-10-20 10:43] #308 closed

[2020-10-20 11:09] m4dummies commented on #236
Hi @pawangeek I don't have any pending PRs. Can you assign me this one.

[2020-10-20 11:16] pawangeek commented on #236
okay

[2020-10-20 16:41] bunnysworld opened #311 "Speech recognition news"
## Script Title -speech_news_scrapper

**Brief** -simple news reader of the top bulletin  within 20 to 30 words
- site will use 'newsapi.org'

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-20 16:42] bunnysworld commented on #311
hey @pawangeek  can you assign me with this

[2020-10-20 17:03] harshitashankar commented on #307
Hey @pawangeek , Do you want the script to recursively check for broken links too? e.g. if xyz.com contains some link abc.com which is not broken, should search be done for abc.com as well?

[2020-10-20 17:08] pawangeek commented on #307
@harshitashankar It's really good if you come up with a solution for multiple redirects.

[2020-10-20 17:21] Sripaad opened #312 "Google Image scraper"
## Script Title -
Google image scraper
**Brief** -
Script that takes in search keyword and scrapes images from google images.
## Instructions
- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-20 17:23] #113 closed

[2020-10-20 17:24] Sripaad commented on #312
@pawangeek youve been mentioned a lot in the issues so am asking you, can i finish this up?

[2020-10-20 17:29] pawangeek commented on #312
@Sripaad good idea for a new script and go ahead, but I have some doubts regarding the script like

(i) Is there any args for getting images for it just scrapes the first one?
(ii) Are we going to scrape from thumbnails like a small photo or full image size?

[2020-10-20 17:31] pawangeek commented on #311
That's nice but can we some functionalities like sports news or fashion news like this (based on user's selection)?

[2020-10-20 18:38] Sripaad commented on #312
@pawangeek Yes, there will be cli for search keyword, number of images(approx) and save dir. It will scrape full size images, just like google image searching for something and downloading a bunch of it.

[2020-10-20 19:23] funbeedev commented on #158
Pull request is now sent. Any feedback is welcome.

[2020-10-20 19:34] funbeedev opened #315 "An edit to CONTRIBUTION.md is needed?"
I just wanted to report that when I followed the instructions in the [CONTRIBUTION.md](https://github.com/python-geeks/Automation-scripts/blob/main/CONTRIBUTING.md) this step failed:
[code]

I had to run this instead:
[code]
Just FYI in case this is something that needs updating.

[2020-10-21 05:09] pawangeek commented on #315
Thanks for that @funbeedev

[2020-10-21 05:10] #315 closed

[2020-10-21 05:11] #158 closed

[2020-10-21 06:24] bunnysworld commented on #311
as this is based on the trending topics on current news so it will cover all the stuff if it is trending

[2020-10-21 06:54] pawangeek commented on #311
![sub](https://user-images.githubusercontent.com/42181691/96683853-5495eb00-1398-11eb-88e2-c0d78aa10032.PNG)
I am saying about subcategories and country as args

[2020-10-21 06:56] pawangeek commented on #311
And include use limits too in README like 100 requests per day as in developer endpoint, etc. From here [https://newsapi.org/pricing](url)

[2020-10-21 07:04] bunnysworld commented on #311
i'll try to execute it for subcategories you are asking for afa i know newsapi only provide you trend or fresh affairs for the developer model (free) . And README part i'll handle

[2020-10-21 07:06] pawangeek commented on #311
Okay try to do if it's free

[2020-10-21 08:39] #236 closed

[2020-10-21 09:42] bunnysworld commented on #311
sure @pawangeek

[2020-10-21 13:37] m4dummies opened #318 "Application Starter"
##Application launcher -

**The script will automatically run the application specified on computer startup.** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-21 13:39] m4dummies commented on #318
@pawangeek  If possible i you could assign this too me. Its a interesting automation project.

[2020-10-21 14:34] sandeep3136 commented on #318
assign me and explain a bit

[2020-10-21 14:42] m4dummies commented on #318
Alright, So basically the script should run at startup. The script will then run any 2 applications, and will open the browser of choice with any website(example netflix).

[2020-10-21 14:43] pawangeek commented on #318
what kind of applications @m4dummies

[2020-10-21 14:47] m4dummies commented on #318
So what i mean is that, once your computer starts all your most used or favourite applications should launch. For instance, discord and word can run. Also a web browser with lets say your favourite song playlist on youtube.

[2020-10-21 14:49] pawangeek commented on #318
TBH not much useful. We have diff moods and work on every single day

[2020-10-21 14:50] pawangeek commented on #318
Still, if you wanna work I can assign it to you

[2020-10-21 14:52] m4dummies commented on #318
@pawangeek
can u assign it to me?

[2020-10-21 14:52] m4dummies commented on #318
@pawangeek  thank you

[2020-10-21 16:14] Remakh opened #319 "Fork and Clone Script"
## Script Title -

Script that forks a Github repository to your account and clones it to your device. Hacktoberfest inspired.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-21 16:14] Remakh commented on #319
assign me please

[2020-10-21 17:18] m4dummies commented on #318
Hi @pawangeek , I did a little research and as you said it doesn't make any sense making a script that starts applications. Instead can i make a script that opens the browser with any url or your favourite song playlist?

[2020-10-21 17:29] m4dummies commented on #319
Can you assign this to me please?

[2020-10-21 17:29] #318 closed

[2020-10-21 18:06] anujpatel224 commented on #235
hey @pawangeek  can i also work on this?

[2020-10-21 18:28] pawangeek commented on #235
Okay fine @anujpatel224

[2020-10-21 18:29] pawangeek commented on #235
want a full-fledged web app for that

[2020-10-21 18:37] anujpatel224 commented on #235
@pawangeek  thanks, so i have to make a complete app to generate the given type of cetificate right?

[2020-10-21 20:10] Sacrezar commented on #319
I am sorry @m4dummies but since it is the first time for @Remakh, I'll let him try

@Remakh It would be cool if you let the user choose between a default directory (hardcoded why not) or a given directory when launching the script.

Also, if it's possible for you to choose where to fork the given repo (like I don't want it on my profile but on my association), could you try this please?

[2020-10-21 21:04] Remakh commented on #319
Sure I'll give that a shoot. I've already got something done, I'll add those suggested changes in.
When you say association, I assume you're talking about forking to your organization? That's what it's referred to on the Github API.

[2020-10-21 21:08] Sacrezar commented on #319
Yes organization is the right name, my bad

[2020-10-21 22:34] funbeedev commented on #213
Hi, Can I take this one?

[2020-10-22 02:44] m4dummies commented on #319
All the best @Remakh

[2020-10-22 02:45] #312 closed

[2020-10-22 02:47] pawangeek commented on #235
Yes try to do that with help of flask/django

[2020-10-22 02:48] pawangeek commented on #213
Sure @funbeedev

[2020-10-22 05:53] anujpatel224 commented on #235
okay thanks

[2020-10-22 06:40] m4dummies commented on #181
Hi @pawangeek can u explain what needs to be done here?

[2020-10-23 07:52] #307 closed

[2020-10-24 07:52] vivekascoder commented on #213
Hey, can i work on this?

[2020-10-24 08:48] vivekascoder commented on #213
@pawangeek  I send a PR for this task please check.

[2020-10-24 09:42] funbeedev commented on #213
I've submitted my PR for this. Feedback is welcome.

[2020-10-24 13:56] #213 closed

[2020-10-24 14:56] pinho opened #328 "Check Github username"
## Script Title - Check Github username

Check if a Github username is being used.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-24 14:57] pinho commented on #328
Assign to me, please.

[2020-10-24 17:40] #181 closed

[2020-10-24 17:43] #319 closed

[2020-10-24 17:48] pawangeek commented on #328
@pinho good idea for a new script but TBH it's not much useful as an "automation script".  Like one can easily check if a name is available or not and one rarely use a script for that. Hope you understand :)

You can submit them in similar repos like [Code-n-stich](https://github.com/bislara/code-n-stitch) By Bislara or [Awesome-scipts](https://github.com/Py-Contributors/awesomeScripts) by Py-cont

[2020-10-24 17:51] pawangeek commented on #311
@bunnysworld any update

[2020-10-25 00:02] bunnysworld commented on #311
@pawangeek  i'll make PR today!

[2020-10-25 15:35] m4dummies commented on #235
Hi @pawangeek , How are you doing. Could you please look into the contributors list whenever you can.

[2020-10-25 18:05] arnav-deep commented on #328
@pawangeek
I have a script that can do this. Assign it to me and I will send a PR.

[2020-10-25 18:22] #328 closed

[2020-10-27 04:18] ashkankamyab opened #330 "Discount Alter improvement !!"
## Feature: Add tor proxy to discount_alerter

It could possibly be an IP tracker or WAF on the edge of the target. I want to add a **tor proxy** to this. I made some prototype already and sure how to implement it.

## Feature: Handle more than one Item in row

The main function of script accepts only one arg at the moment. I assume we can implement multi arg using built-in `**args` feature.

## I

[2020-10-27 04:19] ashkankamyab commented on #330
shouldn't we have feature request template :1st_place_medal:
:grinning:

[2020-10-28 03:38] pawangeek commented on #330
@ashkankamyab can you bit elaborate on this, I still don't get the idea :(

[2020-10-28 05:11] ashkankamyab commented on #330
Sure,
Well, the goal I want to achieve is to get notification not just for one item but let's say a list of items. Currently the script sends a request every 12 Hour. But what if it sends 10 request? Or more?
So my idea is to imolement a tor proxy in between, with which the requests will be sent through a new gatway hub (simply with a new ip).
If you do agree to implement this the second point(ale

[2020-10-29 02:11] ashkankamyab commented on #330
I'll close this. this is a bit controversial as I realized

[2020-10-29 02:11] #330 closed

[2020-10-31 15:58] pawangeek opened #332 "Excel Inspector"
## Script Title -

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2020-10-31 15:59] #332 closed

[2020-11-10 09:41] jayanth1p commented on #235
Hello, can you assign this work to me

[2020-11-17 15:30] vanyusuf1 opened #334 "Regarding Hackerearth contests questions."
## Where you stuck?

Where can I find previous HackerEarth hiring challenges questions?

If you find any platform where previous sets resources are saved then please do mail me back on yusufvan71@gmail.com or answer to this issue on this space itself.

Thank YOU.

[2020-11-24 15:14] pawangeek commented on #334
You will practice that from HackerEarth itself

[2020-11-24 15:15] #334 closed

[2021-01-16 16:13] DMeurer opened #335 "Add a board generator function to the solve_sudoku script"
## Sudoku Board generator

**Brief** -
Add a function to genearte sudoku boards.

Im too lazy to type in all the numbers of the board therefore i think a function to generate boards wold be nice

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Progra

[2021-01-18 16:25] MadhuMadhavanSridhar commented on #335
Hello,
Can I work on this issue?

[2021-02-09 05:43] pawangeek commented on #335
Duplicate of #6

[2021-02-09 05:43] #335 closed

[2021-02-09 05:47] pawangeek opened #338 "Video Cropper"
## Script Title -

**Brief** - Script to crop video

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-02-09 05:48] pawangeek opened #339 "Video color to black and white"
## Script Title -

**Brief** - Script able to change the color of video

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-02-09 15:44] Crozzers commented on #338
I'm willing to take a crack at this

[2021-02-09 16:14] pawangeek commented on #338
cool go ahead :)

[2021-02-09 22:28] Crozzers commented on #339
I wouldn't mind doing this one

[2021-02-10 06:13] #338 closed

[2021-02-10 06:15] pawangeek commented on #339
Perfect go ahead :)

[2021-02-10 16:12] #339 closed

[2021-03-06 03:58] TheFenrisLycaon commented on #235
Is this done?

[2021-03-06 12:36] pawangeek commented on #235
No @TheFenrisLycaon not yet

[2021-04-22 14:47] TheFenrisLycaon commented on #235
I'd like to work on it.

[2021-04-29 14:49] pawangeek commented on #235
Okay, @TheFenrisLycaon Go ahead. Let me know if you want any help

[2021-06-20 03:05] divyanshu887 commented on #311
@pawangeek can you please assign me this issue ?

[2021-07-26 12:36] akashydv7 opened #345 "Directory Organizer"
## Script Title - dir_organizer
**Brief** - simple script to organize directory by putting different types files in respective folders based on extensions

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Codi

[2021-07-26 12:40] akashydv7 commented on #345
Can I work on this ?

[2021-07-28 06:23] pawangeek commented on #345
Hey @akashydv7, I think the issue is the same as merged by #220 isn't it?

[2021-07-28 07:03] akashydv7 commented on #345
I guess it's the same. Sorry I should have looked for that.

[2021-07-28 07:04] #345 closed

[2021-07-29 05:51] pawangeek opened #347 "Whatsapp Bot"
## Script Title -

**Brief** - To automate whatsapp messages

## Instructions

- Create a new folder for your script and the file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-07-29 05:52] #347 closed

[2021-08-18 00:05] akshaynarisetti opened #349 "Rubik’s cube solver"
## Rubik’s Cube Solver  -

**Brief** - A computer vision script that will generate a solution to a Rubik’s cube

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

[2021-08-18 00:06] akshaynarisetti commented on #349
@pawangeek Please assign this issue to me, I want to start working on it :)

[2021-08-18 10:23] stifler6005 opened #350 "Spammer"
## Script Title -spam.py

**Brief** -
It is a gui software that ask for a spam message and number of messages after that it gives you 10 seconds to put your cursor at the text box of the messaging app.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

###

[2021-08-18 11:41] sourabh112 commented on #350
hey, can I have this issue?
I'm quite new to this so I might need some guidance. I think the task is fairly simple to implement using pynput But I don't quite understand the GUI part. If you can explain a bit more about that.

[2021-08-18 12:20] Cyclostone commented on #349
@pawangeek Please assign this issue to me as well, would like to start working on it.

[2021-08-18 12:27] pawangeek commented on #350
Hey @stifler6005 need more clarity for the script

[2021-08-18 12:30] shreyasvedpathak commented on #235
Is this still available? I'd want to get started on it. Also, if there is already work done, please let me know where I may pick it up. I notice you're looking for a flask web app. I have a lot of expertise with it and have previously done automated certificate generation. Please let me know what the intended outcomes are, and I'll be happy to help.

[2021-08-18 12:36] pawangeek commented on #235
Hey @shreyasvedpathak you can pick the template, Idea is to create a simple Flask web app, if your input the name, It will generate the certificate. This will be our Ist iteration, we will add more features in next iterations

[2021-08-18 12:39] 354tb commented on #349
@pawangeek Please assign this issue to me as well.

[2021-08-18 12:42] pawangeek opened #351 "Backup a file/folder into a zip file"
## Script Title -

**Brief** - Copies the whole contents of any folder into a zip file

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-18 12:47] pawangeek opened #352 "Facebook Video Downloader"
## Script Title -

**Brief** - Script should able to download FB video by url

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-18 12:50] pawangeek opened #353 "PDF to Audio"
## Script Title -

**Brief** - Script to convert PDF to a audio

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-18 12:51] pawangeek opened #354 "PDF to word/doc"
## Script Title -

**Brief** - Script for convert .pdf file back again to .doc

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-18 13:01] sourabh112 commented on #350
I looked into this and I have some questions about it. And after that, I think I can start working on it.
1) What Type of GUI should be made for this project/issue ? Is it on assignee or are there any standards to follow ?
2) Should it be a python script like other projects or assignee have to add a .exe file also?
3) What kind of message platforms it is intended for? I mean as to send messages EN

[2021-08-18 13:01] pranxv commented on #351
I am interested ! Can I take up this task?

[2021-08-18 13:02] pawangeek commented on #351
Sure, go ahead

[2021-08-18 13:04] pawangeek commented on #350
Hey @sourabh112 you can check the other issues, until the objective is cleared by author

[2021-08-18 13:19] sourabh112 commented on #353
I am interested in this. Can I have this issue?

[2021-08-18 13:21] pawangeek commented on #353
Go ahead

[2021-08-18 14:34] atharvanaik225 commented on #349
@pawangeek  please assign the issue to me as well, I would like to give it a try!

[2021-08-18 14:39] pawangeek commented on #349
Hey @Cyclostone, @atharvanaik225, @354tb, thanks for showing interest but it's typically single person per issue, Do check other issues or open one if you have any mind-blowing idea to automate something

[2021-08-18 15:04] atharvanaik225 commented on #354
@pawangeek can I have this issue?

[2021-08-18 15:12] #350 closed

[2021-08-18 15:12] stifler6005 commented on #350
Done.

[2021-08-18 15:17] samkap333 commented on #352
I'm interested. Can I have this issue?

[2021-08-18 15:28] pawangeek commented on #352
Sure @samkap333

[2021-08-18 15:37] vishaljha2121 commented on #351
Hello, I want to contribute to this issue. Can someone please guide me? It is my first time working with open source project contributions.

Thanks,
Vishal

[2021-08-18 17:35] CodeBunny09 commented on #352
oh! sorry i didn't see it earlier, that it was meant for those who are assigned to.....

[2021-08-18 17:35] CodeBunny09 commented on #352
how do I cancel my pull request?

[2021-08-18 19:02] cyberbaaz commented on #352
Can i work on this issue?

[2021-08-18 19:09] sandipan898 commented on #354
Hey @pawangeek , can I take a part to solve this issue?

[2021-08-18 19:31] Shahzeb-A commented on #353
Hello, @pawangeek I'm interested, is this issue still available? or any other

[2021-08-19 03:41] candc-admin opened #357 "Auto_Calender"
## Add AutoCalender -

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed
**noted

### Programming Language

- [x] Python

I wanna be part of this Happy Coding Communiy?
May i?

[2021-08-19 04:39] pawangeek commented on #357
Go ahead @candc-admin

[2021-08-19 05:13] candc-admin commented on #357
Thank you!!

[2021-08-19 07:09] Tanisha60 opened #359 "Add a weather news!"
Hi, you can also add the weather news in your project to look more realistic, and here is the sample code that you can add to your project.
Module needed:- json, requests
Note: User need to create an account on openweathermap.org then only can use the APIs

# Python program to find current
# weather details of any city
# using openweathermap api

# import required modules
import requests, json

#

[2021-08-19 07:21] Tanisha60 commented on #311
Add the weather. Hi, you can also add the weather news in your project to look more realistic, and here is the sample code that you can add to your project.
Module needed:- json, requests
Note: User need to create an account on openweathermap.org then only can use the APIs

Python program to find current
weather details of any city
using openweathermap api
import required modules
import requests,

[2021-08-19 07:28] pawangeek commented on #359
Hey @Tanisha60, this is duplicate of #26

[2021-08-19 07:28] #359 closed

[2021-08-19 07:57] sourabh112 commented on #353
@pawangeek I have completed this and made a pull request. Can you please review it? and guide me if I need to do something else.

[2021-08-19 07:58] #351 closed

[2021-08-19 08:00] pawangeek commented on #353
@sourabh112 solve the linting issues

[2021-08-19 08:34] sandipan898 opened #362 "Corona Information Tracker and Visualizer"
## Corona Information Tracker and Visualizer #362

**Brief** -
Corona Information Tracker and Visualizer using graphs and tabular data through a graphical interface.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language
- [x] Python

[2021-08-19 09:06] sandipan898 opened #364 "Automated Voice based Prescription Generator"
## Automated Voice based Prescription Generator

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

May I solve this as an issue and work on it to add this new feature?
Then please consider assigning it t

[2021-08-19 10:22] shreyasvedpathak commented on #235
@pawangeek alright, I'll start right away.

[2021-08-19 12:46] Adyyousf commented on #364
Can i work on it?

[2021-08-19 12:50] Adyyousf commented on #364
Hey @sandipan898  can I work on it?

[2021-08-19 13:13] sandipan898 commented on #364
Hey @Adyyousf  I'm willing to assign it to myself, so if I need any help I'll create another issue where you can work on.

[2021-08-19 15:10] #353 closed

[2021-08-20 05:31] Apoorvgarg-creator opened #369 "QR_Code generator"
## Script Title -

**Brief** -
The script will change url, contact card, email , sms , pdf and many more into QR code.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

May I solve this as an issue and work on it to

[2021-08-20 05:58] pawangeek commented on #369
Sure @Apoorvgarg-creator go ahead, keep that folder name 'qrcode_generator'

[2021-08-20 06:08] #352 closed

[2021-08-20 06:38] mharyam commented on #369
Hello, are all the tasks still open?

[2021-08-20 08:55] #354 closed

[2021-08-20 10:22] shreyasvedpathak commented on #235
hey @pawangeek, you haven't assigned me this yet, I'm almost done. Also, the flake8 thing, I am new to that, could you send some links that would help me get started.

Tech Stack:
Frontend: HTML, bootstrap 5
Backend: flask, PIL

[2021-08-20 10:44] singh-priyank opened #373 "Netflix analyzer"
## Netflix time spent -

**Brief** - This shows how much time a user has spent on Netflix and the distribution of time spend based on days, movie names, etc.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy C

[2021-08-20 10:49] siddharth1704 commented on #373
can i be assigned to this issue

[2021-08-20 10:51] singh-priyank commented on #373
I want to work on this issue. I will be adding a few more you can take up those.

[2021-08-20 10:52] siddharth1704 commented on #373
ok no issues

[2021-08-20 11:01] razorblade42 opened #374 "Browser Notification Sender"
## Script Title -Browser Notification Sender

**Brief** - This application sends browser notifications to other devices from your device.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Can i be assigned for this

[2021-08-20 11:15] siddharth1704 opened #375 "python-music-downloader"
## Script Title -Music downloader

**Brief** -
This is a script that will help to download music in mp4 format from youtube i am also thinking to add a player as well
## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

[2021-08-20 11:22] siddharth1704 opened #376 "IP-Tracker"
## Script Title -IP_tracker

**Brief** -
This script will help in tracking down an ip adress using an external api
## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding
Can you please assign me this project

[2021-08-20 12:09] pawangeek commented on #374
Sure, go ahead, So is it like something cross platform notifier, need some more details beforehand

[2021-08-20 12:10] pawangeek commented on #373
@singh-priyank that's so cool idea, go ahead :)

[2021-08-20 12:12] pawangeek commented on #375
Sure, go ahead but make sure, it will download just audio, we already have youtube video downloader #159

[2021-08-20 12:14] pawangeek commented on #235
You can create a PR new

[2021-08-20 12:41] kuspia commented on #376
Can i work on this please assign me.

[2021-08-20 12:59] razorblade42 commented on #374
Yeah so , what i meant to say is the user will be able to send any type of notification to linked devices using a python program.

[2021-08-20 13:00] kuspia opened #379 "ML_solver"
## Script Title - ML_solver

**Brief** - This script allow the user to use CLI (command line interface) and train, evaluate, predict the ml models.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

Can

[2021-08-20 13:01] pawangeek commented on #374
Ohh that's great, yeah sure go ahead

[2021-08-20 13:01] pawangeek commented on #379
Sure, go ahead :)

[2021-08-20 13:21] sayantann11 commented on #362
can i take this issue i am new to this but as a task i really need guidance and wanted to contribute for the same anyone if can help me and show a way to fix the issue will really help

[2021-08-20 13:32] sayantann11 commented on #362
@pawangeek please guide me

[2021-08-20 13:44] shreyasvedpathak commented on #235
hey, @pawangeek, I did a PR but it is not passing all the checks of flake8. It is showing me errors for the part of the code which has to be like that to prevent what we call "circular imports". You can below that, routes module is imported at the end and routes imported is not used, it has to be that way.
Check out this tutorial by Corey Schafer where he explains why it has to be that way [Python

[2021-08-20 14:26] sayantann11 opened #380 "Employee attendance automator"
## Script Title -

**Brief** -
automatic employee attendance system using Facial Recognition helps banks and industries to take attendance with out any biometrics and human interference which reduces the chance of transferring COVID'19 through any human interference.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your fol

[2021-08-20 14:27] danger-ahead commented on #380
Can I help?
Would need more details on this issue

[2021-08-20 14:29] sayantann11 commented on #380
sure if pawan allows us to do i will need help

[2021-08-20 14:47] sayantann11 commented on #380
i already made some script you can see ,find and remove bugs @danger-ahead

[2021-08-20 14:48] pawangeek commented on #380
Hey @sayantann11 it looks like a complete project, rather than a script 😄😄, Anyway if wanna add it here, feel free to do.

[2021-08-20 14:49] sayantann11 commented on #380
thanks pawangeek but its just a script for now. :D
many more work is needed to complete it as a project

[2021-08-20 14:52] pawangeek commented on #235
Cool, @shreyasvedpathak I will review it and will if any changes requested

[2021-08-20 15:08] razorblade42 commented on #374
Hi , @pawangeek I have made a PR you can have a look and let me know if there is any problem.

Thanks!

[2021-08-20 15:08] #235 closed

[2021-08-20 15:13] pawangeek commented on #374
Check and resolve linting errors

[2021-08-20 15:24] razorblade42 commented on #374
I think i solved that linting error, can you have a look?

[2021-08-20 15:28] #374 closed

[2021-08-20 17:08] #364 closed

[2021-08-20 17:40] Lucifergene opened #386 "Auto Cleanup of Older Versions of Docker Images present in a System"
## Script Title - Auto Cleanup of Older Versions of Docker Images present in Servers

**Brief** -
During Containerized Deployment of applications, often some VMs are particularly allotted for building the Docker Containers. Whenever a new code change takes place, automatically the CI/CD pipeline triggers the build of a new container containing the latest codes.

Since the VMs have a fixed Disk Siz

[2021-08-20 17:52] siddharth1704 commented on #375
ok thanks alot

[2021-08-20 18:06] siddharth1704 opened #388 "Recommendation_system"
## Script Title -
This will be recomendation system of amazon i know it is a whole project moreover it is a  small script afte a whole lot of research
**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Ha

[2021-08-20 18:19] kuspia commented on #379
@pawangeek I did that kindly check the PR, and thank you for providing me this opportunity.

[2021-08-21 02:27] msethi006 opened #389 "Semantic Segmentation Implementation-U-Net"
## U-Net Implementation

**Brief** - This will help users to train, predict, deploy Semantic Segmentation model ( U-Net) on their own datasets.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python
May I solve this as an

[2021-08-21 05:52] sayantann11 commented on #380
I have perform these changes
https://github.com/python-geeks/Automation-scripts/pull/390
you can refer this pull request i request you to accept this.

[2021-08-21 08:42] shreyasvedpathak opened #391 "Drawing bounding boxes with the color same as the detected object."
## Script Title - Draw bounding boxes with the colour same as the detected object.

**Brief** -
Essentially, the colour of a detected object may be used to determine the bounding box colour. At first glance, this may not appear to be very beneficial, but there are instances where it may be useful, such as in security checkouts, regular screening, and so on. This is a utility function that I am cur

[2021-08-21 08:42] shreyasvedpathak commented on #391
@pawangeek can you assign me?

[2021-08-21 14:55] pawangeek commented on #391
@shreyasvedpathak , this repo is specifically to automate our day to day task, Make a automated use of this, turning up/down volumn, sstud down/on laptop, etc. If you wanna make something with Opencv. Like who wants to draw bounding box, for our day to day tasks, Hope you understand :)

[2021-08-21 14:56] pawangeek commented on #386
Really a great go ahead :)

[2021-08-21 14:58] pawangeek commented on #389
Hey @msethi006, this don't need to be automated, we are try to automating our day to day or very basic tasks (like utilities type, eg. stopwatch, timer, alarm, etc.). Hope you understand :)

[2021-08-21 15:05] pawangeek commented on #388
Nope this can't need be automated, make some simple utilities, for solving day to day repeated tasks

[2021-08-21 17:23] CodeAlpha7 commented on #369
Can I help @Apoorvgarg-creator with this issue?
Thanks.

[2021-08-21 17:27] Apoorvgarg-creator commented on #369
@mharyam @CodeAlpha7, Yes you can help. I was wondering what will be a better way to convert an image, pdf into QR. Either upload them somewhere on the cloud and then converting the URL into QR-code
**OR**
Convert them into some encoding (for ex. BASE 64) and convert the string into QR-code and on Scanning the QR-code . decode it into its original format.

[2021-08-22 01:27] anshul2807 opened #394 "URL Shortened"
## Script Title - URL Shortened

**Brief** -
Url shortened will convert any length Url into 4 character URL.

FOR  example --
Url --> www.geeksforgeeks.com/problems
After Conversion --
Url --> www.myUrl/DIKH

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if neede

[2021-08-22 01:51] anshul2807 commented on #394
Pls Assign the issue to Me.

[2021-08-22 01:54] anshul2807 opened #395 "Chrome Dino Bot"
## Script Title - Chrome Dino Bot

**Brief** -
I would like automate the Chrome Dino Game.
## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-22 01:54] anshul2807 commented on #395
Pls assign this issue to me.

[2021-08-22 04:25] chauhanarpit09 opened #396 "Manage Files"
## Script Title -

I would like to create a script to manage files in a particular folder (especially the Download folder)
Generally, we download most of the things from the web and when we need to find them after some days it is sometimes hard.
So, what my script does will separate the files in a different folder like music files in one folder documents in another, and all other extensions like .

[2021-08-22 04:26] chauhanarpit09 commented on #396
Please assign this issue to me. :-)

[2021-08-22 04:27] chauhanarpit09 opened #397 "Price Tracker"
## Script Title -

A Price Tracker will help you to track the price for all your favorite products and whenever the price drops down it will automatically send you an email

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x]

[2021-08-22 04:28] chauhanarpit09 commented on #397
Please, assign this issue to me.

[2021-08-22 16:58] pawangeek commented on #394
@anshul2807, we already have same in #40

[2021-08-22 16:58] #394 closed

[2021-08-22 16:59] pawangeek commented on #397
Go ahead @chauhanarpit09

[2021-08-22 16:59] siddharth1704 commented on #375
@pawangeek  i have generated the PR kindly look into it

[2021-08-22 17:01] anshul2807 opened #398 "Jarvis(assistant)"
## Script Title - Jarvis(assistant) .

**Brief** -
Our virtual assistant will able to do the followings things-

Weather forecasting, Launch Games, Launch Windows Applications, Open Websites, tells you about almost everything you ask, tells you date and time, greetings, news, etc.

You can interact with your laptop’s microphone/console. The response generated by the assistant will display on the c

[2021-08-22 17:02] siddharth1704 commented on #375
#393 I have generated this PR kindly check into it

[2021-08-22 17:04] anshul2807 commented on #397
Can you Assign me any task??
really urgent...

[2021-08-22 17:06] pawangeek commented on #395
@anshul2807 This is not a automated action to solve any day to day task

[2021-08-22 17:06] #395 closed

[2021-08-22 17:08] pawangeek commented on #396
Duplicate of #219

[2021-08-22 17:08] #396 closed

[2021-08-22 17:09] #391 closed

[2021-08-22 17:10] #389 closed

[2021-08-22 17:10] #388 closed

[2021-08-22 17:14] pawangeek commented on #398
Seems pretty good idea, go ahead

[2021-08-22 18:21] #375 closed

[2021-08-22 18:23] nk636547 commented on #376
Can I work on this.
please assign me

[2021-08-23 04:35] shreyasvedpathak commented on #391
@pawangeek got it. thanks.

[2021-08-23 06:48] anshul2807 commented on #398
Done with the task.

[2021-08-23 06:59] Sandhya1708 opened #401 "Image steganography"
## Script Title - Image Steganography

**Brief** - When we give an image and a message as an input , the message given would be encrypted twice ,i.e., the message is encrypted and a cypher text is obtained. The cypher text is then encrypted into the edge of the image.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your fo

[2021-08-23 08:22] jonyeru23 commented on #401
Hi this is my first time contributing, i would love to give it a shot!

[2021-08-23 08:22] jonyeru23 commented on #401
Is the image a path to the image file?

[2021-08-23 08:29] AashutoshNirwal opened #403 "Instagram Scraper"
## Script Title -Instagram  Scraper

**Brief** - Python automation script to search for posts on an Instagram page and download them.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-23 08:32] AashutoshNirwal commented on #403
please assign it to me

[2021-08-23 08:33] Sandhya1708 commented on #401
Well, the code I wrote takes the image as input.

[2021-08-23 08:34] Sandhya1708 commented on #401
I have not yet added the code into this page. I wanted to contribute , so I had put up this issue .

[2021-08-23 08:36] jonyeru23 commented on #401
def encrypt_and_hide(text, image):
    public_key, private_key = rsa.newkeys(512)

    encMessage = rsa.encrypt(text.encode(), public_key)

    with open(image, 'ab') as f:
        f.write(encMessage)

well this is the little function i wrote for your problem, tell me if it works for you

[2021-08-23 18:02] #397 closed

[2021-08-24 03:19] #398 closed

[2021-08-24 05:50] akshitasinghal4444 opened #407 "Plagiarism Detector"
## Script Title - Plagiarism Detector

**Brief** - This script will take 2 files and show the amount (percentage)  of similarity between those files .

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-24 05:51] akshitasinghal4444 commented on #407
Pleasee assign me this issue : )

[2021-08-24 06:36] kaushikaryan04 commented on #403
@AashutoshNirwal Hey can i help in any way?

[2021-08-24 10:40] chauhanarpit09 opened #408 "Not according to flake8"
**Describe the bug**
In how to contribute, It is returned that the script should follow flake8 linting but the script certificate generator is not following that.

**Expected behavior**
According to flake8, all imports should be at the top but in the above code route imported at the bottom .. but if I have to change it to top the code will not run.
if I have to make it according to flake8. I have

[2021-08-24 10:41] #408 closed

[2021-08-24 11:47] vipinkatara commented on #407
Hey,
 Can you assign this issue to me.This will be my first contribution to open source world.
Thanks in advance

[2021-08-24 11:52] akshitasinghal4444 commented on #407
@vipinkatara  Actually I wanted to work on this issue myself . This would be first issue for me too . You can create your own issue to work on .

[2021-08-24 12:00] vipinkatara commented on #407
@akshitasinghal4444  okay thanks.

[2021-08-24 13:36] nk636547 opened #409 "Text Translator using Googletrans library"
## Script Title -

**Brief** -The script will take a text as input and translate it to English

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-24 13:38] nk636547 commented on #409
I want to work on this issue
Can you please assign it to me?

thanks

[2021-08-24 18:07] Strom-Cuzewon opened #411 "Youtube Thumbnail Grabber"
## Script Title - Youtube Thumbnail Grabber

**Brief** - The script will allow a user to input the URL of a Youtube video and the thumbnail will be saved from that.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

[2021-08-24 18:08] Strom-Cuzewon commented on #411
Please assign this issue to me.

[2021-08-24 22:26] CodeAlpha7 commented on #369
@pawangeek I have completed the code for this. Before making the PR, went through the guidelines and saw that I couldn't make a one unless I'm assigned to the issue. I have discussed with @Apoorvgarg-creator.
Could I be assigned to this issue so I could make the PR?

Thanks and Regards

[2021-08-25 03:57] nk636547 commented on #409
I want to work on this issue
Can you please assign it to me?

thanks

[2021-08-25 04:51] Apoorvgarg-creator commented on #369
@CodeAlpha7 I have unassigned myself from the task. Now you can make the PR.

[2021-08-25 06:58] pawangeek commented on #407
Hey @akshitasinghal4444 this is duplicate of #324

[2021-08-25 06:59] #407 closed

[2021-08-25 08:24] vipinkatara opened #413 "Image Separater"
## Script Title - Image Separater

**Brief** - The script will allow a user to separate different type of images from a directory based on their feature vectors.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Hap

[2021-08-25 08:25] vipinkatara commented on #413
Please assign this issue to me.

[2021-08-25 12:20] nk636547 commented on #409
Thank you @pawangeek

[2021-08-25 12:32] pawangeek commented on #413
Can you explain a bit more, Like I have dog and cat images in folder it will separate out both?

[2021-08-25 12:34] pawangeek commented on #409
Hey @nk636547 , how it is different from #39 ?

[2021-08-25 12:47] vipinkatara commented on #413
Yes, it'll separate out both dog and cat images if we choose cluster parameter as 2. similarly it can also separate humans, animals, tools, etc. But we have define in how many different categories we have to separate manually.

[2021-08-25 15:38] kuspia opened #419 "Certificate Generator issue"
./certificate_generator/app/__init__.py:6:23: E261 at least two spaces before inline comment,

while my ml_solver script is getting built I am getting this issue so kindly fix the linting issue asap.

[2021-08-25 16:14] chauhanarpit09 commented on #419
@pawangeek can you assign this task to me

[2021-08-25 16:18] pawangeek commented on #419
Hey I won't see any bug in downstream @kuspia, can you please recheck

[2021-08-25 16:23] kuspia commented on #419
Ok cool #416 was my PR and it has passes all test earlies idk why but as desribed above i was getting that issue

I will close it.

[2021-08-25 16:23] #419 closed

[2021-08-28 06:27] SiddhanthNB opened #439 "Compare two Images"
## Script Title - compare_img

**Brief** - A python image processing script for pixel-wise comparison between two images.
- Program will take two images as input and perform image-processing to output quantitative measures about the differences in the given images.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folde

[2021-08-28 06:31] SiddhanthNB commented on #439
Thanks @pawangeek for this, will be making my first PR in some time!

[2021-08-28 08:48] Supaku9 opened #440 "alarm_clock : Add snooze feature"
**Brief:** Add the feature of snooze option to the alarm clock

**Instructions:**

**Programming languages:**
Python

[2021-08-28 09:09] Supaku9 commented on #440
@pawangeek can I get assigned to this issue

[2021-08-28 12:57] Supaku9 commented on #440
Thank you @pawangeek

[2021-08-28 19:48] MMM-9 opened #443 "Youtube_to_mp3"
## Script Title - Automatic YouTube to mp3 converter

**Brief**  -  For someone who would love to hear famous dialogue's in movies or would love to hear their favorite musical notes found only on YouTube !  It downloads the video and further converts it to mp3 format automatically. All one has to do is only paste the video link!

## Instructions

- Create a new folder for your script and file/fold

[2021-08-28 19:49] MMM-9 commented on #443
I would like to work on this issue. Please assign me this.

[2021-08-28 20:32] sannamir commented on #440
Hey! I am new at open source contribution. Can I work on this issue?

[2021-08-28 20:50] sannamir commented on #403
Is this issue still open?

[2021-08-29 14:14] paridhi2105 opened #444 "Automating the HR interview process"
## Script Title - Automating the HR interview process

**Brief** - I want to add a bot for automating the HR interview process. It will ask some relevant questions from the candidate and assign a score out of 10. The score will determine whether the person has passed the HR interview and be considered as a good fit for the company.

## Instructions

- Create a new folder for your script and file/f

[2021-08-29 14:15] paridhi2105 commented on #444
Can I be assigned to this issue?

[2021-08-29 16:42] MMM-9 commented on #443
@pawangeek Can I get assigned to this issue?

[2021-08-29 17:00] pawangeek commented on #443
Hey @MMM-9 we have a similar script here #159

[2021-08-29 17:00] #440 closed

[2021-08-29 17:00] #439 closed

[2021-08-29 17:01] pawangeek commented on #444
Sure go ahead @paridhi2105

[2021-08-29 17:01] pawangeek commented on #403
Yup @sannamir it is, you can work on it

[2021-08-29 17:02] #403 closed

[2021-08-29 17:21] abhishekchopra0907 opened #445 "Script Title - Automatic Hate speech detector"
## Script Title -Automatic Hate speech detector

**Brief** -Create a script for detecting if a given text contains hate speech or not

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-29 17:21] abhishekchopra0907 commented on #445
@pawangeek can you please assign this issue to me

[2021-08-29 17:26] MMM-9 commented on #443
Hi @pawangeek , the script here is also converting it to MP3 after download, so its level up from #159, specially used for people who want songs/speech or as audio books as mp3 in their systems.

[2021-08-29 17:31] abhimanyu96 opened #446 "Automated gender detection"
## Script Title - automated gender detection

**Brief** - automated detection of gender of an user using their webcam

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-29 17:37] abhishekchopra0907 commented on #446
@pawangeek can you please assign me this issue

[2021-08-29 17:38] abhimanyu96 commented on #446
@pawangeek please assign this to @abhishekchopra0907

[2021-08-29 18:18] pawangeek commented on #443
Cool than for it, but make sure, it don't have option for downloading videos, always download a audio format

[2021-08-29 18:21] pawangeek commented on #445
We don't need a automation for that

[2021-08-29 18:22] #445 closed

[2021-08-30 13:53] NidarshN opened #449 "Image Super Resolution Script"
Image Super Resolution Script

A Script to increase the resolution of an image using Deep Learning model

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-30 13:54] NidarshN commented on #449
@pawangeek Can you please assign this issue to me as i would like to contribute to the community

[2021-08-30 17:35] MMM-9 commented on #443
@pawangeek how can I add my code in this repo as when I followed the steps, a permission denied error was coming.
![image](https://user-images.githubusercontent.com/63444165/131380767-57036e10-8817-4a4b-bb84-f692cabdd3cf.png)

[2021-08-31 04:55] nauman07 commented on #446
Please Assign this issue to me.

[2021-08-31 05:00] nauman07 commented on #449
@pawangeek can you assign this to me it would be a pleasure to serve the community.

[2021-08-31 05:03] pawangeek commented on #449
Hey @nauman07 you can come with other ideas, this issue is already assigned

[2021-08-31 05:04] nauman07 commented on #449
@pawangeek Sir Can I add my own idea also

[2021-08-31 05:06] pawangeek commented on #449
Yup it should be related to automating any task using Python (Duplicate and games are not allowed)

[2021-08-31 05:07] NidarshN commented on #449
@nauman07 You are welcomed to add your own ideas. You can do so by creating a new issue and request @pawangeek to assign it to you. Looking forward for your contributions as well 👍🏻

[2021-08-31 05:12] nauman07 opened #452 "Webex Automation using python"
## Script Title -Webex Automation using python

**Create a script to automate your joining process of  a meeting on Webex platform using by using a timetable**

## Instructions

- Create a new folder for your script and the file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

H

[2021-08-31 05:13] nauman07 commented on #452
@pawangeek Please assign me to this.

[2021-08-31 05:18] pawangeek opened #453 "BMI Calculator"
## Script Title - GUI for calculating BMI

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-31 05:21] pawangeek opened #454 "CPU Temprature detector"
## Script Title - python script to get CPU temperature

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-31 05:22] pawangeek opened #455 "JPG to png image convertor"
## Script Title - Should convert image format(.jpg) to (.png)

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-31 05:23] pawangeek opened #456 "Document Summarizer"
## Script Title - Summarize the whole document

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-31 05:24] pawangeek opened #457 "Google Meet schedular"
## Script Title - Schedule a meeting

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-31 05:25] pawangeek opened #458 "Image background subtractor"
## Script Title - Remove background from images

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-31 05:26] pawangeek opened #459 "Markdown viewer"
## Script Title -

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-31 05:28] pawangeek opened #460 "Site blocker"
## Script Title -

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-31 05:28] pawangeek opened #461 "Slideshare downloader"
## Script Title -

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-31 05:29] pawangeek opened #462 "Train pnr status checker"
## Script Title -

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-31 05:30] pawangeek opened #463 "Video watermarker"
## Script Title -

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-08-31 05:34] Bhanudeep commented on #457
Assign me to this.

[2021-08-31 05:45] Bhanudeep commented on #380
@pawangeek I have an entire project dedicated to marking Attendance of our faculty. It is a complete end to end project. I would be happy to merge it here. Please check my Deep-learning for this. I have multiple versions of this project as well. It primarily involves Raspberry pi for capturing , sending image to server. receiving acknowledgment form server, Standalone Raspberry pi module which han

[2021-08-31 07:19] Bhanudeep commented on #457
I have perform these changes
#466
you can refer this pull request i request you to accept this.

[2021-08-31 07:38] hetalshah03 commented on #462
Can you please assign it to me? Also, a doubt regarding this, should i create dummy databases?

[2021-08-31 07:53] pawangeek commented on #462
You can, for testing

[2021-08-31 07:55] #446 closed

[2021-08-31 07:55] hetalshah03 commented on #462
initally i'll try to do it with list. Later on I'll introduce databases.

[2021-08-31 07:57] #444 closed

[2021-08-31 09:38] Ambujbharati commented on #455
hey @pawangeek , can i work on this problem?

[2021-08-31 13:23] Shahzeb-A commented on #453
Hi, I can do this
Can you assign this to me?

[2021-08-31 13:25] Shahzeb-A commented on #454
Hi, I can do this
Can you assign this to me?

[2021-08-31 15:47] MiTo0o commented on #463
I would love to work on this. Can I get assigned to this?

[2021-08-31 16:33] #401 closed

[2021-08-31 18:02] MMM-9 commented on #443
@pawangeek I tried to resolve the flake8 error, so should I just edit my script in the pull request #451 or should I create a new pull request?

[2021-09-01 12:47] #455 closed

[2021-09-02 11:33] #443 closed

[2021-09-03 16:00] Shahzeb-A commented on #454
@pawangeek  could you check my pull request?

[2021-09-03 16:44] pawangeek commented on #454
you have to make PR here

[2021-09-04 00:46] Shahzeb-A commented on #454
Done ! Can u check it now?

[2021-09-06 18:26] LetsGetStartedWithBub commented on #461
Hi, I would like to work on this issue. I am new in open source but thought to start from here. Can I work on this issue ?

[2021-09-12 06:53] kaliappan01 commented on #459
@pawangeek can you  please assign this to me?

[2021-09-17 08:41] LetsGetStartedWithBub commented on #461
Hi, I have created a pull request can you please review it.

[2021-09-21 11:46] SiddhanthNB opened #483 "Youtube video downloader"
## Script Title -you_thub

**Brief** - A script that downloads youtube video from its link with user's desired resolution.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-09-22 01:06] khoinguyen-hub commented on #483
Hi, this is my first time doing open-source, and I'd like to tackle this issue.

[2021-09-23 06:00] #461 closed

[2021-09-23 10:17] SiddhanthNB commented on #483
@pawangeek please assign this to me.

[2021-09-23 11:43] pawangeek commented on #483
We already have one #159

[2021-09-23 11:43] #483 closed

[2021-09-23 11:45] SiddhanthNB commented on #483
Alright, my bad.

[2021-09-25 17:59] ujjwaltwitx commented on #460
@pawangeek  could assign this issue to me. I am new to open source and I would love working on this.

[2021-09-28 05:23] ujjwaltwitx commented on #460
@pawangeek  please assign this issue to me. I want to work on this feature.

[2021-09-28 05:32] pawangeek commented on #460
Sure @ujjwaltwitx go ahead :)

[2021-09-29 06:08] dipanshparmar opened #485 "Password generator"
## Script Title - Password Generator

**Brief** - A script to generate random passwords with the following criteria:
- Include symbols
- Include numbers
- Include lowercase characters
- Include uppercase characters
- exclude similar characters

### Programming Language
- [x] Python

[2021-09-29 06:08] dipanshparmar commented on #485
Hey @pawangeek, can you please assign this to me?

[2021-09-29 06:43] #357 closed

[2021-09-29 06:49] pawangeek commented on #459
Cool go ahead @kaliappan01

[2021-09-29 06:52] #463 closed

[2021-09-29 07:03] #452 closed

[2021-09-29 07:10] nikhilisaac commented on #462
@pawangeek  hey can you assign me this issue . I would like to work on this using REGEX

[2021-09-29 07:12] nikhilisaac commented on #462
do you need it with the api to check with the actual database of indian railways or just with a local database

[2021-09-29 07:19] pawangeek commented on #462
If there is any free workaround/api, to see on actual indian railways, it will be more good, else go with a local one

[2021-09-29 18:32] krishnakanthati commented on #458
Hi @pawangeek, can you please assign me this?

[2021-09-29 19:49] New-dev0 opened #488 "Telegram Quotefancy Daily Posts"
## Script Title - telegram_quotefancy

**Brief** - Script, that posts Random Quotefancy quoted to single/multiple Telegram chat at scheduled interval.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-09-29 19:49] New-dev0 commented on #488
Can you assign this to me please ?

[2021-09-30 06:10] dipanshparmar opened #489 "Visualizing folder structure"
## Script Title - Tree

**Brief** - A script to visualize folder structure in the form of a tree in the terminal.

### Programming Language

- [x] Python

[2021-09-30 06:10] dipanshparmar commented on #489
@pawangeek please assign this to me.

[2021-09-30 08:45] tausiq2003 commented on #485
Can I add a password generator file to this for hacktoberfest2021

[2021-09-30 09:43] Architrixs commented on #376
May I work on this...

[2021-09-30 16:38] Saransh-cpp opened #491 "Automatically play the created audio file in `audio_book/PDF_TO_AUDIO.py`"
It would be nice to automatically play the generated audio in [`audio_book/PDF_TO_AUDIO.py`](https://github.com/python-geeks/Automation-scripts/blob/main/audio_book/PDF_TO_AUDIO.py) to make the panda lazier. I'd like to work on this, if it is something that everyone thinks should be added up.

[2021-09-30 19:25] Saransh-cpp opened #493 "Add a way to highlight the detected text in `text_from_image/main.py`"
Right now the file OCRs the image but doesn't highlight the captured text. Something like this -

![OCR](https://user-images.githubusercontent.com/74055102/135517824-ac073bfb-c81b-4cd2-b167-7524e9580054.png)

Plus the code isn't very user-friendly and does not follow flake8 linting. I'd like to take this up!

[2021-10-01 02:57] #489 closed

[2021-10-01 02:58] #488 closed

[2021-10-01 02:59] #485 closed

[2021-10-01 03:02] pawangeek commented on #491
It should be user-driven, like if someone don't want to listen at that time, we shouldn't play it automatically.

[2021-10-01 03:05] pawangeek opened #494 "AQI Tracker"
## Script Title - Script should able to tell the aqi (air quality index)
(Hint: There are many free APIs to do that)

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 03:06] pawangeek opened #495 "Auto Backup the folder/folders"
## Script Title - Script which takes the path and time to start backup

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 03:11] pawangeek opened #496 "HTML to markdown"
## Script Title - One should able to create markdown of HTML file

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 03:15] pawangeek opened #497 "Extracting audio from videos"
## Script Title - Script able to extract audio from video and save it in desired folder

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 03:47] srija920 commented on #496
Please assign it to me.

[2021-10-01 03:48] DevChoganwala commented on #497
Hey @pawangeek, I would like to work on this issue!!

[2021-10-01 04:07] JaniniRami opened #499 "Sort Bulk Files Automation"
Sort Bulk Files Automation

**Brief** -
The script will be run in a folder full of random files and sort them based on there file types and names in each separate folder.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Py

[2021-10-01 04:11] #499 closed

[2021-10-01 04:12] pawangeek commented on #499
Hey, isn't it same as #219 ?

[2021-10-01 04:12] itsanshulverma opened #500 "JSON to YAML Converter"
## json2yaml -

**Brief** -
While working with config files or if we need to expose YAML via an API, we find ourselves needing to convert a file from JSON to YAML. This script will do the same. The output can either be sent to stdout or to a specified file.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for pr

[2021-10-01 04:13] JaniniRami opened #501 "Motivational Quotes To Increase Productivity"
Motivational Quotes To Increase Productivity

**Brief** -
A script that automatically sends you motivational quotes every couple of hours as a desktop notification to keep you motivated.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming La

[2021-10-01 04:13] itsanshulverma commented on #500
I would love to add this script, please assign this to me.

[2021-10-01 04:14] JaniniRami commented on #499
Yes I closed it and opened a new issue with a new script idea.

[2021-10-01 04:28] Somanyu opened #502 "CPU info script"
## Script Title - System Information

**Brief** - Sometimes while working you want to know about the CPU usgae of your computer or how many memory is your computer consuming and other various reasons where you need to know about your hardware and system.
Python has a awesome library [*psutil*](https://github.com/giampaolo/psutil) which displays information on processes and system like CPU, memory,

[2021-10-01 04:29] geethakrishna25 commented on #502
Hi can, i work on this issue

[2021-10-01 04:36] HimadriPathak commented on #453
Hi, Can I also make a pull request for this?

[2021-10-01 04:40] itsanshulverma commented on #494
I would love to work on this, please assign it to me.

[2021-10-01 04:42] TheFenrisLycaon commented on #497
Can I work on this?

[2021-10-01 04:43] TheFenrisLycaon commented on #502
I would like to take this one.

[2021-10-01 04:43] TheFenrisLycaon commented on #454
Is this one available?

[2021-10-01 04:44] TheFenrisLycaon commented on #495
I would like to take this up.

[2021-10-01 05:10] Somanyu commented on #502
can you assign this @pawangeek

[2021-10-01 05:15] pawangeek commented on #453
Sure @HimadriPathak

[2021-10-01 05:16] pawangeek commented on #454
Yup it is @TheFenrisLycaon

[2021-10-01 05:17] pawangeek commented on #494
Sure, go ahead :)

[2021-10-01 05:19] #502 closed

[2021-10-01 05:20] pawangeek commented on #495
Cool, take it up

[2021-10-01 05:21] pawangeek commented on #376
Sure @Architrixs

[2021-10-01 05:26] TheFenrisLycaon commented on #495
Okay

[2021-10-01 05:31] TheFenrisLycaon commented on #454
I'd like to work on it.

[2021-10-01 05:56] #500 closed

[2021-10-01 06:11] TheFenrisLycaon commented on #495
@pawangeek please check and merge.

[2021-10-01 06:15] jayaganeshkumar commented on #376
Hey can I work on this?

[2021-10-01 06:20] #501 closed

[2021-10-01 06:20] Aniket-508 commented on #457
Can I take up this issue?

[2021-10-01 06:22] pawangeek commented on #457
Sure @Aniket-508

[2021-10-01 06:26] pankaj892 opened #512 "Random email name generator"
## Script Title - Random email name generator

**Brief** -
This script generates random email names with domain names as per the required number of emails user inputs
## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

[2021-10-01 06:27] R055A commented on #512
Requesting being assigned, please

[2021-10-01 06:28] Aniket-508 commented on #512
Can I work on this please?

[2021-10-01 06:29] pankaj892 commented on #512
@pawangeek Can you assign me to work on this ?

[2021-10-01 06:33] R055A commented on #512
I see now, thank you.

[2021-10-01 06:34] pawangeek opened #514 "Expense manager"
## Script Title - Simple GUI program to manages expenses

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 06:35] pawangeek commented on #512
Meanwhile, I am adding some more issues, you can check and work on any of them

[2021-10-01 06:35] Aniket-508 opened #515 "Currency conversion rate"
## Script Title - Currency conversion rate

**Brief** -
You’ve probably looked up conversion rates using your browser, but we can automate the task of finding the current exchange rate between any two currencies.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if

[2021-10-01 06:36] Aniket-508 commented on #515
@pawangeek hey, can I work on this?

[2021-10-01 06:38] pawangeek commented on #515
Hey @Aniket-508 #69 it's already in Repo :(

[2021-10-01 06:38] Aniket-508 commented on #514
Can you please assign me this?

[2021-10-01 06:38] pawangeek commented on #514
Sure, you can take this

[2021-10-01 06:39] #515 closed

[2021-10-01 06:41] pawangeek opened #516 "Image Encoder"
## Script Title - simple program to encode and decode images, which helps to reduce and handle images on server, as it is converted to base64 address.

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

H

[2021-10-01 06:42] pawangeek opened #517 "Retweet bot"
## Script Title - Simple script that retweets any hashtag provided in it.

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 06:46] gokhalevedant06 commented on #516
Hi, output should be an image URI right  ?

[2021-10-01 06:46] pawangeek opened #518 "Desktop break notifier"
## Script Title - Script able to enable toast notification for break in every 15/20 minutes to avoid being on computer continuously

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 06:50] #494 closed

[2021-10-01 06:54] dipanshparmar commented on #518
@pawangeek can you please assign this to me?

[2021-10-01 06:55] pawangeek commented on #516
Exactly, you can use a key-value pair even to store in json format

[2021-10-01 06:55] thevirtualbuddy commented on #517
Hi @pawangeek , Can I work on this issue?

[2021-10-01 06:56] #491 closed

[2021-10-01 06:56] pawangeek commented on #517
Sure, go ahead

[2021-10-01 06:57] Prabesh-Shrestha opened #519 "adding image to pdf converter"
## Script Title -

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 06:58] gokhalevedant06 commented on #516
Okay! Can I try this?

[2021-10-01 06:58] pawangeek commented on #516
Yeah, why not

[2021-10-01 07:02] TheFenrisLycaon commented on #454
@pawangeek please check and merge.

[2021-10-01 07:19] #454 closed

[2021-10-01 07:21] bartick opened #522 "Url Shortner"
## Script Title - Url Shortner

**Brief** - The script with make the script smaller for easier usage

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 07:24] TheFenrisLycaon commented on #495
@pawangeek this is completed.

[2021-10-01 07:24] pawangeek commented on #522
same as #7

[2021-10-01 07:24] #522 closed

[2021-10-01 07:24] TheFenrisLycaon commented on #522
Can I work on this?

[2021-10-01 07:27] pawangeek commented on #493
Ohk, do that :)

[2021-10-01 07:29] #519 closed

[2021-10-01 07:51] #495 closed

[2021-10-01 08:11] SwarajBaral commented on #516
hey @pawangeek can I take it up ? I am pretty new to open source and I am starting out with hacktoberfest 2021. Even though it has been assigned, can I work on it ?

[2021-10-01 08:36] Saransh-cpp opened #524 "Tweet scrapper"
## Script Title - A script that scrapes the tweets of a given user

**Brief** -
The script will be able to scrape the tweets of a specified user and then will be able to store them in a text file. I'd like to take this up!

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requiremen

[2021-10-01 08:40] #376 closed

[2021-10-01 08:43] #493 closed

[2021-10-01 09:28] tausiq2003 commented on #453
should I contribute

[2021-10-01 09:41] #512 closed

[2021-10-01 09:42] itsanshulverma opened #527 "email-phone-extractor"
## Script Title - email-phone-extractor

**Brief** -
Extract emails and phone numbers from the text from clipboard, to the clipboard

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 09:43] itsanshulverma commented on #527
Please validate and assign it to me

[2021-10-01 10:00] VaishnaviNandakumar opened #528 "Customizable Webapp-Login Templates"
## Script Title -
Flask-WebApp-Login Templates

**Brief** -
Script that creates customizable login and registration templates using Flask and MongoDB for any web app project.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x

[2021-10-01 10:00] VaishnaviNandakumar commented on #528
@pawangeek  I'd like to contribute to this project.

[2021-10-01 10:12] pawangeek commented on #528
Okay go ahead :)

[2021-10-01 10:13] pawangeek commented on #527
So it will based on regex right?

[2021-10-01 10:16] itsanshulverma commented on #527
yes

[2021-10-01 10:18] #518 closed

[2021-10-01 10:21] pawangeek commented on #527
okay, that's fine but make it bit more extensive, like it should save emails and numbers separately in two different csv/excel. And take a text file too as input not just text in terminal, Hope you got it :)

[2021-10-01 10:24] tpc-ietlko opened #530 "Card Number Validator"
## Script Title - Card Number Validator

**Brief** - I will be writing the code to validate the credit cards to find out whether it is correct or not.

Importance:
It is important to keep in mind that whenever fraudulent cards are used, the merchant loses. If too many fraudulent transactions occur, you may incur higher processing fees, expensive chargebacks, or even losing your merchant account an

[2021-10-01 10:24] #530 closed

[2021-10-01 10:26] kuspia opened #531 "credit_card_validator"
## Script Title - credit_card_validator

**Brief** - I will be writing the code to validate the credit cards to find out whether it is correct or not, also it will find the card type

Importance:
It is important to keep in mind that whenever fraudulent cards are used, the merchant loses. If too many fraudulent transactions occur, you may incur higher processing fees, expensive chargebacks, or even

[2021-10-01 10:27] kuspia commented on #531
Kindly assign this issue to me, I would like to work it on this from scratch.
Note #530 was opened by me but using another account so I closed that.

[2021-10-01 10:27] pawangeek commented on #516
Well @SwarajBaral one issue need one PR, if your PR doesn't get closed, it won't marked as contribution, it's better to work on separate script

[2021-10-01 10:28] pawangeek commented on #531
Okay, go ahead :)

[2021-10-01 10:29] #524 closed

[2021-10-01 10:45] avyayjain commented on #531
pls can you assign me with this issue I want to work on it

[2021-10-01 10:48] avyayjain commented on #457
can you pls assign me this task

[2021-10-01 10:51] pankaj892 opened #532 "Battery Automation Script"
## Script Title - Battery Automation

**Brief** -
This script notifies the user about the remaining battery left based on the threshold provided by user
## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 10:52] pankaj892 commented on #532
@pawangeek can I work on this ?

[2021-10-01 10:59] SwarajBaral commented on #516
Oh, okay then @pawangeek, I will be looking out for new issue for a new script idea, then. Thanks for the reply.

[2021-10-01 11:06] SwarajBaral commented on #532
Hey @pawangeek I would like to work on this as well.

[2021-10-01 11:16] avyayjain commented on #453
can i make a pull request

[2021-10-01 11:23] pawangeek opened #533 "Horoscope"
## Script Title - Script able to tell horoscope of the daily by zodiac sign

**Brief** -

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 11:25] Aryan810 commented on #453
Hello,
I will do this project properly, the GUI will be user friendly and clean.
You can assign it to me.

#hacktoberfest
#open-source

Thanks!

[2021-10-01 11:27] kshittijagrawal commented on #533
Hey @pawangeek !
I would love to work on this issue. Could you assign this to me?

[2021-10-01 11:30] kshittijagrawal opened #534 "Automation Script Converting Video File into an Audio File."
## Script Title - Audio Visual to Audial

**Brief** - This script converts any kind of video file format to its equivalent audio file format.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 11:32] kshittijagrawal commented on #534
Hey @pawangeek !
I would like to add this script into your repository. If you'd like me to do so, kindly assign me this issue. :)

[2021-10-01 11:33] pawangeek commented on #534
Already in progress #497

[2021-10-01 11:41] #534 closed

[2021-10-01 11:53] Saransh-cpp opened #535 "Straighten image"
## Script Title - A script to straighten up an image (for preprocessing purposes, can be used before OCRing an image)
**Brief** -
The script will basically rotate an image to straighten it up. Example (note that in the second image, the image has been tilted in a way that makes the book straight) -

<p float="left">
<img src="https://user-images.githubusercontent.com/74055102/135614541-01f8ef65-de

[2021-10-01 11:56] kapshar commented on #535
Hey @Saransh-cpp, I would like to work on this script can you assign this issue to me.

[2021-10-01 12:09] Saransh-cpp commented on #535
Hi @kapshar, I am not a maintainer here. I am myself looking out to work on this issue :)

[2021-10-01 12:13] itsanshulverma opened #536 "Crypto tracker"
## Script Title - crypto-tracker

**Brief** - track top cryptocurrency prices

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 12:14] itsanshulverma commented on #536
Please assign it to me

[2021-10-01 13:24] jayaganeshkumar opened #537 "Crypto Currency"
## Script Title -
CryptoCurrency

**Brief** -
A python script to get the top 100 crypto coins details from the coin market website and store them in a CSV file. A crypto coin symbol will be taken as input and the details of that coin will be stored in another CSV. Here details include: name, symbol, website, price(current), all-time highest price, etc. I already have the code ready.
## Instruction

[2021-10-01 13:25] jayaganeshkumar commented on #537
@pawangeek can you assign this to me?

[2021-10-01 13:27] dipanshparmar opened #538 "Stocks' news"
## Script Title - stocks' news

**Brief** - A script to track given stocks' news. stocks' names can be given individually or a txt file containing the stocks' names.

### Programming Language

- [x] Python

[2021-10-01 13:27] dipanshparmar commented on #538
@pawangeek please assign this to me.

[2021-10-01 13:41] pawangeek commented on #537
Hey its already in progress #536

[2021-10-01 14:02] kuspia commented on #531
hi kindly check @pawangeek and please merge it

[2021-10-01 14:11] anubhav201241 opened #540 "Mask Detection"
## Script Title - Mask Detection

**Brief** -
I wanted to contribute to your repository Mask Detection using open cv and python

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 14:17] #531 closed

[2021-10-01 14:20] gitshashwat commented on #527
Hey @pawangeek , Looks interesting! Can you assign this to me too?

[2021-10-01 14:31] OjusWiZard opened #541 "Script to send a Discord embedded message via a webhook"
## Discord Embedded Message from a Webhook -

**Brief** - A Discord webhook is an API interface, my code will be sending an HTTP request to this webhook with a message payload in a specific JSON form. This payload will be interpreted by discord and show it in Embedded form as a message in the channel.

## Instructions

- Create a new folder for your script and file/folder name should be appropriat

[2021-10-01 14:33] sandipan898 commented on #362
@pawangeek can you please open this issue and assign myself to work on it?
I will make the pull request within 1 or 2 days.

[2021-10-01 14:38] jayaganeshkumar commented on #537
@pawangeek it's not a tracker. It just stores the top 100 crypto names along with their sites in the coin market. If we give any coin's symbol as input it will return the details like name, price, websites, all-time highest and all.

[2021-10-01 14:40] pawangeek commented on #537
Ohk sounds different then

[2021-10-01 14:41] pawangeek commented on #362
Ohk, but please do that this time

[2021-10-01 14:45] madrigal1 commented on #541
hey am interested, can you expand on the specific JSON format ?
also if you are comfortable in share any communication info as discord/ discord channel would be helpful

[2021-10-01 15:13] VaishnaviNandakumar commented on #528
@pawangeek Hi. I'm facing a small issue with flake8. My project using the '@wraps' decorator which doesn't require indentation but the it always raises a warning of 'E111 indentation is not a multiple of 4'. Is there anything I can do to disregard it?

[2021-10-01 15:14] pawangeek commented on #528
Yup add #noqa at the end of that particular line

[2021-10-01 15:35] pawangeek commented on #540
Hey, isn't it similar to #216

[2021-10-01 15:46] ujjwaltwitx commented on #460
Thanks.

[2021-10-01 16:04] avyayjain commented on #540
pls assign me this issue

[2021-10-01 16:06] avyayjain commented on #311
pls assign me this issue

[2021-10-01 16:08] #362 closed

[2021-10-01 16:43] VaishnaviNandakumar commented on #528
@pawangeek Thanks! I've created a pull request.

[2021-10-01 16:54] sudesh1611 opened #548 "Text Encryptor and Decryptor using AES"
## Script Title - Text Encryptor and Decryptor using AES

**Brief** - A script which will encrypt/decrypt the text using the password.

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 17:11] sudesh1611 commented on #548
@pawangeek  Can you please assign this to me

[2021-10-01 17:12] brandon-1999 commented on #548
Yoo this will be fun. ill give this a go. What do you suggest the return should be?

[[<duplicate file paths _array_>,<entries _int_>,<hash of files _string_>], ... ]?

This will be the first time i ever work on anything within github so feedback is really appreciated :)

[2021-10-01 17:13] pawangeek commented on #548
@sudesh1611 Isn't it same as #142 ?

[2021-10-01 17:14] sudesh1611 commented on #548
Ohh. Didn't see that. Let me change the issue then

[2021-10-01 17:16] pawangeek commented on #548
Well this is new :)

[2021-10-01 17:16] #527 closed

[2021-10-01 17:17] #535 closed

[2021-10-01 17:18] #460 closed

[2021-10-01 17:20] ujjwaltwitx commented on #460
Feeling great after making my first contribution to open source

[2021-10-01 17:21] ujjwaltwitx commented on #460
Can I work on improving the script?

[2021-10-01 17:22] pawangeek commented on #460
Congrats, many more to come :)

[2021-10-01 17:23] ujjwaltwitx commented on #460
Thanks bhaiya.

[2021-10-01 17:31] #536 closed

[2021-10-01 17:33] #537 closed

[2021-10-01 17:33] #528 closed

[2021-10-01 18:00] danangharissetiawan opened #554 "Simple Slack Mesage"
## Script Title - Slack Message

**Brief** - a script to send messages on slack automatically

## Instructions

- Create a new folder for your script and file/folder name should be appropriate.
- Create a README.md in your folder for program Instructions
- add requirements.txt if needed

### Programming Language

- [x] Python

Happy Coding

[2021-10-01 18:01] ilmalte commented on #554
I would be happy to take it! 😄

[2021-10-01 18:02] rahulbhatt1899 commented on #554
Hey, I'd like to contribute!

[2021-10-01 18:16] kuspia opened #556 "credit_card_generator"
## Script Title - credit_card_generator

**Brief** - credit_card_generator

I would like to work on generating credit card numbers as per the need of the user.
Nowadays, e-website merchants like to penetrate and test the cc numbers so to reduce fraudulent activities and avoid fake transactions, hence this script is really helpful in such cases.

This script can generate any amount of valid cc numb